html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none; }

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

textarea {
  overflow: auto; }

.ie6 legend, .ie7 legend {
  margin-left: -7px; }

input[wtype="radio"] {
  vertical-align: text-bottom; }

input[type="checkbox"] {
  vertical-align: bottom; }

.ie7 input[type="checkbox"] {
  vertical-align: baseline; }

.ie6 input {
  vertical-align: text-bottom; }

label, input[type="button"], input[type="submit"], input[type="image"], button {
  cursor: pointer; }

button, input, select, textarea {
  margin: 0; }

ul {
  list-style: none; }

ol {
  list-style-type: decimal; }

dl dt {
  font-weight: bold; }

address {
  font-style: italic; }

del {
  color: #000; }

a {
  color: #c84446;
  text-decoration: none;
  cursor: pointer; }

a:hover {
  text-decoration: underline; }

blockquote {
  display: block; }

strong {
  font-weight: bold; }

em, dfn {
  font-style: italic; }

dfn {
  font-weight: bold; }

pre, code {
  white-space: pre; }

pre, code, tt {
  font: 1em monospace;
  line-height: 1.5; }

tt {
  display: block; }

q {
  font-style: italic;
  font-weight: bold;
  font-family: Georgia, Times, serif; }

cite {
  display: block;
  font-weight: bold; }

/* Custom Mixins. You can delare your own mixins here. */
/* Add rounded corners to all sides */
/* Add rounded corners to certain sides */
/* This is a particularly useful mixin if you want to add slick CSS3 animations to elements */
/* Cross browser opacity mixin */
/* --------------------------------------------------------------

Form Settings. 
Most of this is inspired by the awesome work of Nathan Smith and formalize css!

-------------------------------------------------------------- */
::-moz-focus-inner {
  border: 0;
  padding: 0; }

input[type="search"]::-webkit-search-decoration {
  display: none; }

input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
textarea:focus {
  border: 1px solid #aaa;
  color: #444; }

textarea {
  resize: none;
  overflow: auto;
  width: 100%; }

label,
legend {
  display: block;
  font-size: 13px; }

select {
  width: 100%; }

input[type="checkbox"] {
  display: inline; }

label span,
legend span {
  font-weight: normal;
  font-size: 14px;
  color: #444; }

input,
button,
select,
textarea {
  vertical-align: middle; }

input[type="radio"],
input[type="checkbox"] {
  position: relative;
  vertical-align: top;
  top: 3px;
  /* IE8, IE9, IE10 */
  top: 0\0;
  /* IE7 */
  *top: -3px;
  margin-right: 5px; }

textarea,
select,
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"] {
  -webkit-appearance: none;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -moz-background-clip: padding;
  -webkit-background-clip: padding;
  background-clip: padding-box;
  border: 1px solid #caced0;
  color: #283a43;
  padding: 5px;
  outline: none;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  font-size: 12px;
  margin: 0 0 20px 0;
  width: 100%;
  display: block;
  background: #fafafa;
  /* for non-css3 browsers */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$from', endColorstr='$to');
  /* for IE */
  background: -webkit-gradient(linear, left top, left bottom, from(#fafafa), to(white));
  /* for webkit browsers */
  background: -moz-linear-gradient(top, #fafafa, white);
  /* for firefox 3.6+ */
  background: linear-gradient(top, #fafafa, white);
  /* IE7 */
  *padding-top: 2px;
  *padding-bottom: 1px;
  *height: auto; }

/*
Separate rule for Firefox.
Separate rule for IE, too.
Cannot stack with WebKit's.
*/
::-webkit-input-placeholder {
  color: #d5d8d9; }

input:-moz-placeholder,
textarea:-moz-placeholder {
  color: #d5d8d9; }

:invalid {
  /*
  Suppress red glow that Firefox
  adds to form fields by default,
  even when user is still typing.
  */
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none; }

/* Tweaks for Safari + Chrome. */
@media (-webkit-min-device-pixel-ratio: 0) {
  select[size],
  select[multiple] {
    background-image: none;
    padding: 0; }

  ::-webkit-validation-bubble-message {
    box-shadow: rgba(0, 0, 0, 0.5) 0 0 5px;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #666666), color-stop(1, black));
    border: #caced0;
    color: #fff;
    padding: 15px 15px 17px;
    text-shadow: #000 0 0 1px; }

  ::-webkit-validation-bubble-top-outer-arrow,
  ::-webkit-validation-bubble-top-inner-arrow {
    display: none; } }
optgroup {
  color: #000;
  font-style: normal;
  font-weight: normal; }

button[type=submit], input[type='submit'] {
  padding: 7px 12px;
  text-align: center;
  font-size: 14px;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  background: #cf5759;
  /* for non-css3 browsers */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$from', endColorstr='$to');
  /* for IE */
  background: -webkit-gradient(linear, left top, left bottom, from(#cf5759), to(#bb3f41));
  /* for webkit browsers */
  background: -moz-linear-gradient(top, #cf5759, #bb3f41);
  /* for firefox 3.6+ */
  background: linear-gradient(top, #cf5759, #bb3f41);
  border: 0;
  color: #FFF; }
  button[type=submit]:hover, input[type='submit']:hover {
    background: #c84446; }
  button[type=submit]:active, input[type='submit']:active {
    background: #bb3133; }
  button[type=submit]:focus, input[type='submit']:focus {
    background: #bb3133;
    border: 1px solid #cf5759; }

input[type="text"], input[type="password"], textarea {
  width: 276px;
  color: #283a43;
  font-size: 14px;
  padding: 7px;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-color: #d5d8d9; }

input:-moz-placeholder,
textarea:-moz-placeholder {
  color: #d5d8d9; }

.wrap {
  width: 960px;
  margin: 0 auto; }

.clear {
  clear: both; }

.center {
  text-align: center; }

.uppercase {
  text-transform: uppercase; }

.titlecase {
  text-transform: capitalize; }

.invisible {
  visibility: hidden; }

body {
  background: url("../images/bg.gif");
  /*	background: #fafafa;*/ }

::-moz-selection {
  background: #c84446;
  color: #fff;
  text-shadow: none; }

::selection {
  background: #c84446;
  color: #fff;
  text-shadow: none; }

body, h1, h2, h3, h4, h5, h6, p, ul, ol, dl, input, textarea {
  line-height: 17px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #283a43;
  font-size: 13px; }

h1, h2, h3, h4, h5 {
  color: #283a43;
  font-weight: 900; }

h1 {
  color: #c84446; }

h2 {
  font-size: 25px; }

header {
  border-top: 2px solid #c84446;
  border-bottom: 1px solid #283a43;
  height: 60px;
  min-width: 750px; }
  header #logo {
    position: absolute;
    top: 10px;
    left: 30px; }
    header #logo a.logo {
      background: url("../images/logo.png");
      width: 97px;
      height: 97px;
      display: block;
      text-indent: -9999px; }
      header #logo a.logo:hover {
        background: url("../images/logo.png") -97px; }
  header nav ul#nav {
    float: left;
    margin-top: 20px;
    margin-left: 160px;
    margin-bottom: 0; }
    header nav ul#nav li {
      float: left;
      margin-left: 5px; }
      header nav ul#nav li a {
        color: #283a43;
        font-size: 15px;
        text-transform: uppercase;
        padding: 0.4em 0.6em;
        border-radius: 6px;
        -moz-border-radius: 6px;
        -webkit-border-radius: 6px;
        border: 1px solid #eee; }
        header nav ul#nav li a:hover {
          text-decoration: none;
          background: #354d59;
          /* for non-css3 browsers */
          filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$from', endColorstr='$to');
          /* for IE */
          background: -webkit-gradient(linear, left top, left bottom, from(#354d59), to(#283a43));
          /* for webkit browsers */
          background: -moz-linear-gradient(top, #354d59, #283a43);
          /* for firefox 3.6+ */
          background: linear-gradient(top, #354d59, #283a43);
          color: white; }
        header nav ul#nav li a.selected {
          color: #c84446; }
          header nav ul#nav li a.selected:hover {
            color: white;
            background: #cf5759;
            /* for non-css3 browsers */
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$from', endColorstr='$to');
            /* for IE */
            background: -webkit-gradient(linear, left top, left bottom, from(#cf5759), to(#bb3f41));
            /* for webkit browsers */
            background: -moz-linear-gradient(top, #cf5759, #bb3f41);
            /* for firefox 3.6+ */
            background: linear-gradient(top, #cf5759, #bb3f41); }
  header #login-header {
    position: absolute;
    right: 30px;
    top: 2px;
    background: #c84446;
    padding-bottom: 4px;
    padding-left: 9px;
    padding-right: 9px;
    -moz-border-radius-topleft: 0;
    -moz-border-radius-topright: 0;
    -moz-border-radius-bottomright: 4px;
    -moz-border-radius-bottomleft: 4px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px; }
    header #login-header a {
      color: #fff;
      font-size: 13px; }
      header #login-header a:hover {
        text-decoration: underline; }
    header #login-header img {
      position: relative;
      top: 4px; }

form#search-place input[type="text"], form#search-user input[type="text"], form#search-route input[type="text"] {
  float: left; }
form#search-place input[type="submit"], form#search-user input[type="submit"], form#search-route input[type="submit"] {
  background: url("../images/search-small-btn.png") no-repeat 0 1px;
  display: block;
  text-indent: -99999px;
  width: 29px;
  height: 29px;
  float: left;
  margin-left: 3px;
  margin-top: 1px; }
  form#search-place input[type="submit"]:hover, form#search-user input[type="submit"]:hover, form#search-route input[type="submit"]:hover {
    background: url("../images/search-small-btn.png") no-repeat -30px; }

#container {
  width: 100%;
  min-width: 750px;
  min-height: 300px; }

#with-map {
  float: left; }
  #with-map form#search-place {
    margin-bottom: 0px;
    margin-left: 30px;
    float: left; }
  #with-map h2.title-aside {
    background: #283a43;
    color: #fff;
    font-size: 25px;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
    padding-left: 30px;
    margin-right: 30px; }

#aside-content {
  margin-top: 60px; }

#aside {
  width: 370px;
  min-height: 830px;
  float: left;
  border-right: 1px solid #283a43; }
  #aside .routes-list li .route {
    padding-top: 20px;
    border-bottom: 1px solid #caced0;
    padding-left: 30px;
    height: 104px; }
    #aside .routes-list li .route:hover .route-img {
      border-color: #d46b6d; }
    #aside .routes-list li .route .route-img {
      float: left;
      border: 3px solid #fff;
      height: 79px;
      width: 79px;
      margin-right: 7px;
      border-radius: 4px;
      -moz-border-radius: 4px;
      -webkit-border-radius: 4px;
      cursor: pointer; }
      #aside .routes-list li .route .route-img.selected {
        border-color: #3b5663; }
    #aside .routes-list li .route .route-info {
      height: 85px;
      padding: 3px;
      width: 310px; }
      #aside .routes-list li .route .route-info h4 {
        font-size: 12px;
        text-transform: uppercase;
        font-weight: bold; }
        #aside .routes-list li .route .route-info h4 a {
          color: #283a43; }
      #aside .routes-list li .route .route-info ul {
        padding-top: 3px; }
        #aside .routes-list li .route .route-info ul .profile-image {
          width: 58px;
          height: 18px;
          float: right; }
          #aside .routes-list li .route .route-info ul .profile-image.green {
            background: url(../images/profiles.png); }
          #aside .routes-list li .route .route-info ul .profile-image.yellow {
            background: url(../images/profiles.png) 0 -18px no-repeat; }
          #aside .routes-list li .route .route-info ul .profile-image.orange {
            background: url(../images/profiles.png) 0 -36px no-repeat; }
          #aside .routes-list li .route .route-info ul .profile-image.red {
            background: url(../images/profiles.png) 0 -54px no-repeat; }
        #aside .routes-list li .route .route-info ul li {
          font-size: 12px;
          line-height: 20px; }
      #aside .routes-list li .route .route-info .comment-likes {
        float: left;
        width: 200px;
        height: 17px; }
        #aside .routes-list li .route .route-info .comment-likes li {
          float: left;
          width: 100px; }
          #aside .routes-list li .route .route-info .comment-likes li .comment-icon {
            background: url(../images/comment-icon.png) 0 -14px no-repeat;
            width: 14px;
            height: 14px;
            display: block;
            float: left;
            margin-top: 2px;
            margin-right: 2px; }
          #aside .routes-list li .route .route-info .comment-likes li:last-child {
            width: 30px; }
          #aside .routes-list li .route .route-info .comment-likes li .like-icon {
            background: url(../images/like-icon.png) 0 -14px no-repeat;
            width: 14px;
            height: 14px;
            display: block;
            float: left;
            margin-top: 2px;
            margin-right: 2px; }
  #aside h4 {
    font-size: 16px;
    font-weight: normal; }
  #aside a#last-routes-more {
    margin: 12px auto;
    display: block;
    width: 46px;
    background: #354d59;
    /* for non-css3 browsers */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$from', endColorstr='$to');
    /* for IE */
    background: -webkit-gradient(linear, left top, left bottom, from(#354d59), to(#283a43));
    /* for webkit browsers */
    background: -moz-linear-gradient(top, #354d59, #283a43);
    /* for firefox 3.6+ */
    background: linear-gradient(top, #354d59, #283a43); }
    #aside a#last-routes-more:hover {
      background: #cf5759;
      /* for non-css3 browsers */
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$from', endColorstr='$to');
      /* for IE */
      background: -webkit-gradient(linear, left top, left bottom, from(#cf5759), to(#bb3f41));
      /* for webkit browsers */
      background: -moz-linear-gradient(top, #cf5759, #bb3f41);
      /* for firefox 3.6+ */
      background: linear-gradient(top, #cf5759, #bb3f41); }

#map {
  /*	width: 700px;*/
  height: 830px;
  float: left;
  margin: 0; }

/*
	PAGES without map
*/
#without-map {
  margin-bottom: 50px; }
  #without-map form#search-title {
    float: right;
    margin-right: 30px;
    margin-top: 10px; }
  #without-map .h2-bg {
    background: #283a43;
    height: 35px; }
    #without-map .h2-bg h2 {
      color: white;
      margin: auto;
      display: block;
      width: 235px;
      line-height: 30px; }
      #without-map .h2-bg h2 a {
        color: white; }

#content {
  margin-bottom: 20px;
  min-height: 500px; }

.btn-base {
  padding: 5px 17px;
  text-align: center;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  background: #cf5759;
  /* for non-css3 browsers */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$from', endColorstr='$to');
  /* for IE */
  background: -webkit-gradient(linear, left top, left bottom, from(#cf5759), to(#c84446));
  /* for webkit browsers */
  background: -moz-linear-gradient(top, #cf5759, #c84446);
  /* for firefox 3.6+ */
  background: linear-gradient(top, #cf5759, #c84446);
  border: 0;
  color: #FFF; }
  .btn-base:hover {
    background: #c84446;
    text-decoration: none; }
  .btn-base:active {
    background: #bb3133; }
  .btn-base:focus {
    background: #bb3f41;
    /* for non-css3 browsers */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$from', endColorstr='$to');
    /* for IE */
    background: -webkit-gradient(linear, left top, left bottom, from(#bb3f41), to(#cf5759));
    /* for webkit browsers */
    background: -moz-linear-gradient(top, #bb3f41, #cf5759);
    /* for firefox 3.6+ */
    background: linear-gradient(top, #bb3f41, #cf5759);
    box-shadow: 0 0 5px #888; }

.btn-big {
  width: 210px; }

.h2-top {
  display: block;
  width: 235px;
  text-transform: uppercase;
  margin: auto;
  line-height: 26px; }

#user-form {
  width: 560px;
  margin: auto;
  margin-top: 40px; }
  #user-form label {
    float: left;
    text-align: right;
    margin-top: 7px;
    width: 185px;
    font-size: 14px; }
  #user-form input[type="text"], #user-form input[type="password"] {
    width: 210px;
    margin-left: 195px;
    margin-bottom: 15px; }
  #user-form input[type="submit"] {
    margin-left: 195px;
    border: 1px solid #a14446;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px; }
  #user-form p {
    margin-left: 195px;
    width: 210px;
    text-align: center;
    margin-top: 20px;
    font-size: 14px; }
    #user-form p a {
      text-decoration: underline; }

#user_edit {
  width: 760px;
  margin: auto; }
  #user_edit #user-form {
    float: left;
    width: 500px;
    border-right: 1px solid #caced0; }
  #user_edit #user-form-avatar {
    margin-top: 40px;
    margin-left: 10px;
    width: 230px;
    float: left;
    height: 200px; }
    #user_edit #user-form-avatar h3 {
      font-size: 15px;
      text-align: center; }
    #user_edit #user-form-avatar .user-avatar {
      background: #f2f2f2;
      height: 100px;
      width: 100px;
      border: 3px solid #fff;
      margin-right: 10px;
      margin-top: 10px;
      float: left; }
    #user_edit #user-form-avatar .avatar_actions {
      float: left;
      margin-top: 44px;
      with: 40px; }
      #user_edit #user-form-avatar .avatar_actions a {
        display: block;
        margin-bottom: 10px;
        background: #354d59;
        /* for non-css3 browsers */
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$from', endColorstr='$to');
        /* for IE */
        background: -webkit-gradient(linear, left top, left bottom, from(#354d59), to(#283a43));
        /* for webkit browsers */
        background: -moz-linear-gradient(top, #354d59, #283a43);
        /* for firefox 3.6+ */
        background: linear-gradient(top, #354d59, #283a43); }
        #user_edit #user-form-avatar .avatar_actions a:hover {
          background: #cf5759;
          /* for non-css3 browsers */
          filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$from', endColorstr='$to');
          /* for IE */
          background: -webkit-gradient(linear, left top, left bottom, from(#cf5759), to(#bb3f41));
          /* for webkit browsers */
          background: -moz-linear-gradient(top, #cf5759, #bb3f41);
          /* for firefox 3.6+ */
          background: linear-gradient(top, #cf5759, #bb3f41); }
      #user_edit #user-form-avatar .avatar_actions #avatar_actions_delete {
        background: #caced0;
        color: #283a43; }
        #user_edit #user-form-avatar .avatar_actions #avatar_actions_delete:hover {
          background: #cf5759;
          /* for non-css3 browsers */
          filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$from', endColorstr='$to');
          /* for IE */
          background: -webkit-gradient(linear, left top, left bottom, from(#cf5759), to(#bb3f41));
          /* for webkit browsers */
          background: -moz-linear-gradient(top, #cf5759, #bb3f41);
          /* for firefox 3.6+ */
          background: linear-gradient(top, #cf5759, #bb3f41);
          color: white; }
    #user_edit #user-form-avatar #avatar_form {
      margin-top: 130px;
      display: none; }
      #user_edit #user-form-avatar #avatar_form form input[type="submit"] {
        font-size: 13px;
        padding: 4px 10px;
        margin-top: 10px; }

#user-form-password {
  margin: auto;
  padding: 21px;
  width: 370px; }
  #user-form-password a {
    display: block; }

#error_explanation, #error_explanation_route {
  margin-bottom: 20px;
  border: 1px solid #c84446;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  padding-bottom: 15px; }
  #error_explanation h3, #error_explanation_route h3 {
    font-size: 1.4em;
    margin-bottom: 15px;
    text-align: center;
    border-bottom: 1px solid #c84446;
    padding: 15px;
    color: #fff;
    background: #cf5759;
    /* for non-css3 browsers */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$from', endColorstr='$to');
    /* for IE */
    background: -webkit-gradient(linear, left top, left bottom, from(#cf5759), to(#bb3f41));
    /* for webkit browsers */
    background: -moz-linear-gradient(top, #cf5759, #bb3f41);
    /* for firefox 3.6+ */
    background: linear-gradient(top, #cf5759, #bb3f41); }
  #error_explanation ul, #error_explanation_route ul {
    margin-left: 20px; }
    #error_explanation ul li, #error_explanation_route ul li {
      color: #c84446;
      font-size: 1.2em;
      margin-bottom: 5px; }

.field_with_errors input[type="text"], .field_with_errors input[type="password"] {
  border-color: #c84446; }

#error_explanation_route {
  position: absolute;
  z-index: 3;
  left: 389px;
  width: 500px;
  opacity: .9;
  background: white; }

.flash {
  position: absolute;
  left: 50%;
  width: 400px;
  margin: 15px -200px;
  border: 1px solid #fff;
  text-align: center;
  font-size: 18px;
  line-height: 25px;
  padding: 7px;
  color: white;
  z-index: 2;
  opacity: 0.95; }

.success {
  background: #354d59;
  /* for non-css3 browsers */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$from', endColorstr='$to');
  /* for IE */
  background: -webkit-gradient(linear, left top, left bottom, from(#354d59), to(#283a43));
  /* for webkit browsers */
  background: -moz-linear-gradient(top, #354d59, #283a43);
  /* for firefox 3.6+ */
  background: linear-gradient(top, #354d59, #283a43);
  border: 1px solid #192429; }

.error, .notice {
  background: #d06061;
  /* for non-css3 browsers */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$from', endColorstr='$to');
  /* for IE */
  background: -webkit-gradient(linear, left top, left bottom, from(#d06061), to(#c84446));
  /* for webkit browsers */
  background: -moz-linear-gradient(top, #d06061, #c84446);
  /* for firefox 3.6+ */
  background: linear-gradient(top, #d06061, #c84446);
  border: 1px solid #b03436; }

h4.user_last_route, h4.user_numbers {
  margin-right: 30px;
  background: #283a43;
  color: #fff;
  padding: 4px 30px; }

h4.user_last_route {
  margin-bottom: 10px; }

ul#last_routes_tabs {
  display: block;
  border-bottom: 1px solid #caced0;
  margin-right: 30px;
  height: 27px; }
  ul#last_routes_tabs li {
    float: left; }
    ul#last_routes_tabs li:first-child {
      margin-left: 30px; }
    ul#last_routes_tabs li a {
      margin-right: 10px;
      color: #283a43;
      font-size: 12px;
      padding: 4px 13px;
      border-radius: 4px;
      -moz-border-radius: 4px;
      -webkit-border-radius: 4px;
      border: 1px solid #EEE;
      -moz-box-shadow: 0 1px 1px #aaaaaa;
      -webkit-box-shadow: 0 1px 1px #aaaaaa;
      box-shadow: 0 1px 1px #aaaaaa;
      background: #f9f9f9;
      /* for non-css3 browsers */
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$from', endColorstr='$to');
      /* for IE */
      background: -webkit-gradient(linear, left top, left bottom, from(#f9f9f9), to(#eaeaea));
      /* for webkit browsers */
      background: -moz-linear-gradient(top, #f9f9f9, #eaeaea);
      /* for firefox 3.6+ */
      background: linear-gradient(top, #f9f9f9, #eaeaea); }
      ul#last_routes_tabs li a:hover {
        text-decoration: none;
        background: #EAEAEA; }
      ul#last_routes_tabs li a.selected {
        background: #DDD;
        border: 1px solid #EEE;
        border-top-color: #C5C5C5;
        border-left-color: #C5C5C5;
        -moz-box-shadow: 0 1px 1px white;
        -webkit-box-shadow: 0 1px 1px white;
        box-shadow: 0 1px 1px white;
        padding: 5px 14px;
        color: #151e23; }

.user-profile {
  margin-left: 30px;
  width: 310px;
  margin-top: 20px;
  float: left;
  width: 310px;
  margin-bottom: 20px; }
  .user-profile .user-avatar {
    float: left;
    background: #f2f2f2;
    height: 100px;
    width: 100px;
    border: 3px solid #fff;
    margin-right: 10px; }
  .user-profile .user-info {
    font-size: 13px; }
    .user-profile .user-info h4 {
      color: #c84446;
      margin-bottom: 10px;
      font-size: 17px; }
    .user-profile .user-info ul li.edit-user {
      margin-top: 5px; }
  .user-profile .user-actions {
    clear: both;
    margin-top: 23px; }
    .user-profile .user-actions form {
      width: 111px;
      float: left; }
      .user-profile .user-actions form #relationship_submit {
        font-size: 13px;
        padding: 5px 17px;
        background: #354d59;
        /* for non-css3 browsers */
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$from', endColorstr='$to');
        /* for IE */
        background: -webkit-gradient(linear, left top, left bottom, from(#354d59), to(#283a43));
        /* for webkit browsers */
        background: -moz-linear-gradient(top, #354d59, #283a43);
        /* for firefox 3.6+ */
        background: linear-gradient(top, #354d59, #283a43); }
        .user-profile .user-actions form #relationship_submit:hover {
          background: #cf5759;
          /* for non-css3 browsers */
          filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$from', endColorstr='$to');
          /* for IE */
          background: -webkit-gradient(linear, left top, left bottom, from(#cf5759), to(#bb3f41));
          /* for webkit browsers */
          background: -moz-linear-gradient(top, #cf5759, #bb3f41);
          /* for firefox 3.6+ */
          background: linear-gradient(top, #cf5759, #bb3f41); }
        .user-profile .user-actions form #relationship_submit.unfollow {
          background: #cf5759;
          /* for non-css3 browsers */
          filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$from', endColorstr='$to');
          /* for IE */
          background: -webkit-gradient(linear, left top, left bottom, from(#cf5759), to(#bb3f41));
          /* for webkit browsers */
          background: -moz-linear-gradient(top, #cf5759, #bb3f41);
          /* for firefox 3.6+ */
          background: linear-gradient(top, #cf5759, #bb3f41);
          padding: 5px 12px; }
          .user-profile .user-actions form #relationship_submit.unfollow:hover {
            background: #caced0;
            color: #283a43; }

table.user-numbers {
  margin-top: 20px;
  width: 205px;
  font-size: 13px;
  float: left;
  margin-left: 30px;
  border-right: 1px solid #caced0;
  margin-bottom: 20px; }
  table.user-numbers td {
    font-size: 13px;
    padding-bottom: 2px; }
  table.user-numbers tr:hover {
    background: #f2f2f2; }

.user-stats-btn {
  float: right;
  margin-top: 20px;
  margin-right: 30px; }

/*
TABLE

*/
form#search-user, form#search-route {
  float: right;
  margin-right: 30px;
  margin-top: 10px; }

table.big-table thead {
  color: #fff; }
  table.big-table thead tr {
    height: 40px; }
    table.big-table thead tr th {
      vertical-align: middle;
      padding: 0 10px;
      border: 1px solid #caced0;
      border-left: 0;
      min-width: 20px;
      background: #283a43; }
      table.big-table thead tr th a {
        color: white;
        padding-right: 7px;
        padding-left: 8px; }
      table.big-table thead tr th .sort-desc {
        background: url(../images/sort-arrows.png) no-repeat right;
        padding-right: 13px;
        padding-left: 0px;
        background-position: 100% 0; }
      table.big-table thead tr th .sort-asc {
        background: url(../images/sort-arrows.png) no-repeat right;
        background-position: 100% -16px;
        padding-right: 13px;
        padding-left: 0px; }
    table.big-table thead tr th:first-child {
      border: 0;
      border-right: 1px solid #caced0;
      background: none; }
table.big-table tbody tr:nth-child(even) td {
  background: #fff; }
table.big-table tbody tr:nth-child(odd) td {
  background: #f8f8f8; }
table.big-table tbody tr:last-child td {
  border-bottom: 1px solid #caced0; }
table.big-table tbody tr {
  height: 40px; }
  table.big-table tbody tr td {
    vertical-align: middle;
    padding: 0 10px;
    min-width: 20px;
    border-bottom: 1px solid #caced0; }
    table.big-table tbody tr td img {
      vertical-align: middle; }
    table.big-table tbody tr td.title {
      min-width: 160px; }
    table.big-table tbody tr td.distance {
      min-width: 58px; }
    table.big-table tbody tr td.altitude {
      min-width: 58px; }
    table.big-table tbody tr td.time {
      min-width: 80px; }
    table.big-table tbody tr td.avg_speed {
      min-width: 66px; }
    table.big-table tbody tr td.created_at, table.big-table tbody tr td.user {
      min-width: 95px; }
    table.big-table tbody tr td.like, table.big-table tbody tr td.comments {
      text-align: center; }
    table.big-table tbody tr td.rating {
      min-width: 91px; }
    table.big-table tbody tr td.place {
      min-width: 160px; }
  table.big-table tbody tr td:last-child {
    border-right: 1px solid #caced0; }
  table.big-table tbody tr td:first-child {
    border: 0;
    border-right: 1px solid #caced0;
    background: none;
    font-size: 38px;
    height: 40px;
    padding: 0;
    text-align: right;
    font-weight: bold;
    background: none;
    padding-right: 2px;
    -moz-border-radius-topleft: 20px;
    -moz-border-radius-topright: 0;
    -moz-border-radius-bottomright: 0;
    -moz-border-radius-bottomleft: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 20px; }
  table.big-table tbody tr td:nth-child(2) {
    color: #c84446; }
table.big-table tbody tr:hover {
  background: #cf5759; }

.users-index-table {
  margin: 20px auto;
  width: 600px; }
  .users-index-table table.users-index {
    width: 100%;
    margin-left: -67px; }

.routes-index-table {
  width: 1075px;
  margin: 20px auto; }
  .routes-index-table table.routes-index {
    width: 100%; }
    .routes-index-table table.routes-index tr th.comments span, .routes-index-table table.routes-index tr th.like span {
      width: 14px;
      height: 14px;
      display: block;
      margin: auto;
      margin-top: 5px; }
    .routes-index-table table.routes-index tr th.comments span {
      background: url(../images/comment-icon.png) no-repeat; }
    .routes-index-table table.routes-index tr th.like span {
      background: url(../images/like-icon.png) no-repeat; }
  .routes-index-table .pagination {
    margin: 20px auto;
    width: 288px; }

/*
PAGINATION

*/
.pagination {
  margin: 10px 0 0 109px; }
  .pagination * {
    width: 24px;
    height: 24px;
    display: block;
    float: left;
    border: 1px solid #c7c7c7;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    margin-left: 3px;
    line-height: 24px;
    text-align: center;
    font-size: 11px;
    color: #283a43; }
  .pagination .previous_page {
    width: 70px;
    background: #f9f9f9;
    /* for non-css3 browsers */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$from', endColorstr='$to');
    /* for IE */
    background: -webkit-gradient(linear, left top, left bottom, from(#f9f9f9), to(#eaeaea));
    /* for webkit browsers */
    background: -moz-linear-gradient(top, #f9f9f9, #eaeaea);
    /* for firefox 3.6+ */
    background: linear-gradient(top, #f9f9f9, #eaeaea); }
  .pagination .current {
    background: #cf5759;
    /* for non-css3 browsers */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$from', endColorstr='$to');
    /* for IE */
    background: -webkit-gradient(linear, left top, left bottom, from(#cf5759), to(#bb3f41));
    /* for webkit browsers */
    background: -moz-linear-gradient(top, #cf5759, #bb3f41);
    /* for firefox 3.6+ */
    background: linear-gradient(top, #cf5759, #bb3f41);
    border-color: #cf5759;
    color: #fff; }
    .pagination .current:hover {
      background: #cf5759; }
  .pagination a {
    background: #f9f9f9;
    /* for non-css3 browsers */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$from', endColorstr='$to');
    /* for IE */
    background: -webkit-gradient(linear, left top, left bottom, from(#f9f9f9), to(#eaeaea));
    /* for webkit browsers */
    background: -moz-linear-gradient(top, #f9f9f9, #eaeaea);
    /* for firefox 3.6+ */
    background: linear-gradient(top, #f9f9f9, #eaeaea); }
    .pagination a:hover {
      background: #f9f9f9; }
  .pagination .next_page {
    width: 70px; }

footer {
  width: 100%;
  border-top: 2px solid #283a43; }
  footer #footer-inner {
    width: 960px; }
    footer #footer-inner .footer-col {
      padding-top: 15px;
      padding-bottom: 30px;
      float: left; }
      footer #footer-inner .footer-col h3 {
        border-bottom: 1px solid #c84446;
        color: #c84446;
        font-size: 18px;
        font-weight: normal;
        line-height: 24px;
        margin-bottom: 10px;
        text-align: center;
        margin-left: 30px; }
    footer #footer-inner #footer-about {
      width: 340px;
      padding-right: 30px;
      border-right: 1px solid #283a43; }
      footer #footer-inner #footer-about p {
        line-height: 1.5em;
        margin-left: 30px; }
    footer #footer-inner #footer-contact {
      height: 191px; }
      footer #footer-inner #footer-contact h3 {
        margin-left: 30px; }
    footer #footer-inner #contact-form {
      margin-left: 30px;
      width: 505px; }
      footer #footer-inner #contact-form form .footer-form-col1 {
        float: left;
        width: 200px; }
        footer #footer-inner #contact-form form .footer-form-col1 input[type="text"], footer #footer-inner #contact-form form .footer-form-col1 textarea {
          width: 150px;
          margin-bottom: 10px; }
      footer #footer-inner #contact-form form label {
        float: left;
        width: 37px;
        line-height: 33px;
        font-size: 13px;
        padding-right: 7px;
        text-align: right; }
      footer #footer-inner #contact-form form .footer-form-col2 {
        float: left; }
        footer #footer-inner #contact-form form .footer-form-col2 label {
          width: 80px;
          margin-left: -87px;
          margin-top: 75px; }
        footer #footer-inner #contact-form form .footer-form-col2 textarea {
          width: 275px;
          margin-bottom: 10px;
          border-radius: 4px;
          -moz-border-radius: 4px;
          -webkit-border-radius: 4px;
          padding: 7px;
          font-size: 14px;
          height: 120px; }
        footer #footer-inner #contact-form form .footer-form-col2 input[type="submit"] {
          width: 275px;
          border: 1px solid #354d59;
          background: #354d59;
          /* for non-css3 browsers */
          filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$from', endColorstr='$to');
          /* for IE */
          background: -webkit-gradient(linear, left top, left bottom, from(#354d59), to(#283a43));
          /* for webkit browsers */
          background: -moz-linear-gradient(top, #354d59, #283a43);
          /* for firefox 3.6+ */
          background: linear-gradient(top, #354d59, #283a43); }
          footer #footer-inner #contact-form form .footer-form-col2 input[type="submit"]:hover {
            background: #354d59; }
          footer #footer-inner #contact-form form .footer-form-col2 input[type="submit"]:active {
            background: #283a43; }
  footer #footer-bottom {
    width: 100%;
    clear: both;
    border-top: 1px solid #283a43; }
    footer #footer-bottom span {
      height: 32px;
      padding-left: 30px;
      line-height: 32px;
      display: block;
      text-align: center; }
    footer #footer-bottom nav ul#footer-nav {
      height: 32px;
      padding: 5px 0;
      background: #c84446; }
      footer #footer-bottom nav ul#footer-nav li {
        float: left;
        margin-right: 10px; }
        footer #footer-bottom nav ul#footer-nav li:first-child {
          margin-left: 30px; }
        footer #footer-bottom nav ul#footer-nav li a {
          border-radius: 4px;
          -moz-border-radius: 4px;
          -webkit-border-radius: 4px;
          color: white;
          font-size: 13px;
          line-height: 32px;
          padding: 7px 12px;
          text-align: center;
          text-transform: uppercase;
          background: #cf5759;
          /* for non-css3 browsers */
          filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$from', endColorstr='$to');
          /* for IE */
          background: -webkit-gradient(linear, left top, left bottom, from(#cf5759), to(#bb3f41));
          /* for webkit browsers */
          background: -moz-linear-gradient(top, #cf5759, #bb3f41);
          /* for firefox 3.6+ */
          background: linear-gradient(top, #cf5759, #bb3f41);
          border: 1px solid #cf5759; }
          footer #footer-bottom nav ul#footer-nav li a:hover, footer #footer-bottom nav ul#footer-nav li a.selected {
            background: #bb3739;
            border: 1px solid #b03436;
            text-decoration: none; }

#route-new {
  margin: 20px 30px; }
  #route-new p.distance {
    margin-bottom: 10px;
    clear: both; }
    #route-new p.distance .label {
      width: 90px;
      margin-right: 10px;
      float: left;
      text-align: right;
      padding-top: 2px; }
    #route-new p.distance .value, #route-new p.distance .km {
      color: #c84446;
      font-size: 21px; }

#route-new-draw {
  margin-bottom: 20px;
  width: 210px;
  float: right; }
  #route-new-draw #draw-route-btn {
    margin-right: 5px; }
  #route-new-draw .route-new-options {
    display: none;
    margin-top: 8px;
    background: white;
    padding: 7px;
    border-radius: 4px;
    border: 1px solid #D5D8D9; }
  #route-new-draw #draw-controls a {
    display: block; }
  #route-new-draw #upload-form input[type="submit"] {
    font-size: 13px;
    padding: 4px 10px;
    margin-top: 6px; }

#route-form form#new_route input, #route-form form#new_route textarea, #route-form form#new_route select {
  font-size: 12px;
  width: 210px;
  margin-bottom: 10px; }
#route-form form#new_route input[type="submit"] {
  margin-left: 100px; }
#route-form form#new_route label {
  float: left;
  width: 90px;
  text-align: right;
  padding-right: 10px;
  margin-top: 6px; }
#route-form form#new_route p.error-explanation {
  width: 210px;
  font-size: 11px;
  margin-top: -8px;
  padding-top: 0;
  margin-bottom: 5px;
  display: none;
  padding-left: 100px;
  color: #c84446;
  clear: both; }
#route-form form#new_route a#show-extra {
  display: block;
  border: 1px solid #1e2c33;
  text-align: center;
  margin-bottom: 10px;
  padding: 4px;
  background: #283a43;
  color: white;
  border-radius: 4px; }
#route-form form#new_route #route-new-extra {
  border-top: 1px solid #c84446;
  padding-top: 10px; }
  #route-form form#new_route #route-new-extra input {
    width: 64px;
    padding: 3px; }
  #route-form form#new_route #route-new-extra p {
    margin-bottom: 10px; }
    #route-form form#new_route #route-new-extra p .label {
      width: 90px;
      margin-right: 10px;
      float: left;
      text-align: right;
      padding-top: 2px; }
  #route-form form#new_route #route-new-extra #route_time_string {
    float: left; }
  #route-form form#new_route #route-new-extra #total-time-show {
    float: left;
    padding-left: 16px;
    padding-top: 3px;
    width: 124px; }

#route-show {
  margin-left: 30px;
  width: 280px; }
  #route-show h3 {
    font-size: 17px;
    color: #c84446;
    font-weight: normal;
    line-height: 20px;
    margin-top: 10px; }
  #route-show ul.route-show {
    margin-top: 10px; }
    #route-show ul.route-show li {
      margin-bottom: 3px;
      border: 1px solid #caced0;
      width: 280px;
      float: left;
      background: rgba(255, 255, 255, 0.4);
      font-size: 13px;
      line-height: 30px; }
      #route-show ul.route-show li .th {
        width: 160px;
        text-align: left;
        padding-left: 7px;
        float: left;
        font-weight: bold; }
      #route-show ul.route-show li .td {
        width: 100px;
        float: left; }
        #route-show ul.route-show li .td img {
          position: relative;
          top: 3px; }
      #route-show ul.route-show li .distance {
        font-size: 22px;
        color: #c84446; }
      #route-show ul.route-show li.description {
        line-height: 17px;
        padding-top: 4px;
        padding-bottom: 4px;
        min-height: 30px; }
        #route-show ul.route-show li.description .th {
          width: 46px; }
        #route-show ul.route-show li.description .td {
          width: 220px;
          padding-right: 4px; }
      #route-show ul.route-show li#altitude {
        cursor: pointer; }
        #route-show ul.route-show li#altitude .td {
          width: 86px; }
        #route-show ul.route-show li#altitude .small-arrow {
          float: left;
          display: block;
          height: 13px;
          width: 13px;
          top: 9px;
          position: relative;
          background: url(../images/arrows.png) no-repeat; }
    #route-show ul.route-show div.altitude-extra {
      display: none; }
      #route-show ul.route-show div.altitude-extra li:last-child {
        margin-bottom: 21px;
        border-bottom: 1px solid #283a43; }

#edit-route-btn {
  margin-left: 30px; }

.route-show-options {
  margin-left: 30px;
  margin-top: 10px; }

#show-comments {
  float: left;
  background: #354d59;
  /* for non-css3 browsers */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$from', endColorstr='$to');
  /* for IE */
  background: -webkit-gradient(linear, left top, left bottom, from(#354d59), to(#283a43));
  /* for webkit browsers */
  background: -moz-linear-gradient(top, #354d59, #283a43);
  /* for firefox 3.6+ */
  background: linear-gradient(top, #354d59, #283a43); }
  #show-comments:hover {
    background: #cf5759;
    /* for non-css3 browsers */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$from', endColorstr='$to');
    /* for IE */
    background: -webkit-gradient(linear, left top, left bottom, from(#cf5759), to(#bb3f41));
    /* for webkit browsers */
    background: -moz-linear-gradient(top, #cf5759, #bb3f41);
    /* for firefox 3.6+ */
    background: linear-gradient(top, #cf5759, #bb3f41); }

#add-favorite {
  float: left;
  margin-left: 20px; }
  #add-favorite a {
    width: 28px;
    text-indent: -999px;
    display: block;
    float: left;
    height: 28px;
    background: url(../images/like-btn.png) no-repeat;
    padding: 0;
    cursor: pointer; }
    #add-favorite a:hover {
      background: url(../images/like-btn.png) 0 -28px no-repeat;
      text-decoration: none; }
    #add-favorite a.liked {
      background: url(../images/like-btn.png) 0 -28px no-repeat; }
      #add-favorite a.liked:hover {
        background: url(../images/like-btn.png) no-repeat; }
  #add-favorite span {
    float: left;
    display: block;
    margin-left: 5px;
    margin-top: 6px; }

#show-elevation {
  float: right;
  display: block;
  height: 40px;
  width: 40px;
  margin-top: 5px;
  background: #cf5759;
  /* for non-css3 browsers */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$from', endColorstr='$to');
  /* for IE */
  background: -webkit-gradient(linear, left top, left bottom, from(#cf5759), to(#bb3f41));
  /* for webkit browsers */
  background: -moz-linear-gradient(top, #cf5759, #bb3f41);
  /* for firefox 3.6+ */
  background: linear-gradient(top, #cf5759, #bb3f41);
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px; }
  #show-elevation img {
    margin: 6px;
    margin-left: 8px; }
  #show-elevation:active {
    background: #bb3133; }
  #show-elevation:focus {
    background: #bb3f41;
    /* for non-css3 browsers */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$from', endColorstr='$to');
    /* for IE */
    background: -webkit-gradient(linear, left top, left bottom, from(#bb3f41), to(#cf5759));
    /* for webkit browsers */
    background: -moz-linear-gradient(top, #bb3f41, #cf5759);
    /* for firefox 3.6+ */
    background: linear-gradient(top, #bb3f41, #cf5759);
    box-shadow: 0 0 5px #888; }

#elevation-chart {
  position: absolute;
  z-index: 2;
  left: 370px;
  top: 692px;
  border: 1px solid #283a43;
  height: 200px;
  width: 800px;
  display: none;
  opacity: .8; }

form.edit_route input[type="text"], form.edit_route select, form.edit_route textarea {
  width: 110px;
  padding: 1px;
  border-radius: 0;
  float: left;
  margin: 0;
  margin-top: 4px;
  font-size: 13px; }
  form.edit_route input[type="text"].title, form.edit_route select.title, form.edit_route textarea.title {
    color: #c84446;
    font-size: 17px;
    width: 282px;
    margin-bottom: 5px;
    padding: 2px; }
form.edit_route textarea {
  width: 223px; }
form.edit_route input[type="submit"].edit {
  float: right;
  font-size: 13px;
  background: #354d59;
  /* for non-css3 browsers */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$from', endColorstr='$to');
  /* for IE */
  background: -webkit-gradient(linear, left top, left bottom, from(#354d59), to(#283a43));
  /* for webkit browsers */
  background: -moz-linear-gradient(top, #354d59, #283a43);
  /* for firefox 3.6+ */
  background: linear-gradient(top, #354d59, #283a43);
  padding: 0.2em 0.7em;
  margin-top: 5px; }
  form.edit_route input[type="submit"].edit:hover {
    background: #cf5759;
    /* for non-css3 browsers */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$from', endColorstr='$to');
    /* for IE */
    background: -webkit-gradient(linear, left top, left bottom, from(#cf5759), to(#bb3f41));
    /* for webkit browsers */
    background: -moz-linear-gradient(top, #cf5759, #bb3f41);
    /* for firefox 3.6+ */
    background: linear-gradient(top, #cf5759, #bb3f41); }

ul#rating {
  margin-top: 7px; }
  ul#rating li.rate {
    display: inline;
    width: 17px;
    height: 17px;
    border: 0;
    margin-left: 1px; }
    ul#rating li.rate a {
      width: 18px;
      height: 17px;
      display: block;
      background: url(../images/rating-stars.png) 0 -17px no-repeat;
      text-indent: -9999px;
      outline: none; }
      ul#rating li.rate a.full-fill {
        background: url(../images/rating-stars.png) 0 -34px; }
      ul#rating li.rate a.half-fill {
        background: url(../images/rating-stars.png) 0 -51px; }
      ul#rating li.rate a.select {
        background-position: 0 0; }

td.rating ul.rating .val {
  display: none; }

ul.rating li {
  width: 18px;
  height: 17px;
  display: block;
  background: url(../images/rating-stars.png) 0 -17px no-repeat;
  text-indent: -9999px;
  outline: none;
  float: left; }
  ul.rating li.full-fill {
    background: url(../images/rating-stars.png) 0 -34px; }
  ul.rating li.half-fill {
    background: url(../images/rating-stars.png) 0 -51px; }
  ul.rating li.select {
    background-position: 0 0; }

#comments-container {
  width: 310px;
  margin-top: 46px;
  margin-left: 30px;
  margin-right: 30px;
  display: none; }
  #comments-container h3 {
    width: 310px;
    border-bottom: 2px solid #283a43; }
  #comments-container ul li {
    border-bottom: 1px solid #caced0;
    padding-top: 10px;
    padding-bottom: 5px; }
    #comments-container ul li .comment-avatar {
      float: left;
      width: 32px;
      height: 32px; }
      #comments-container ul li .comment-avatar a img {
        border: 2px solid white; }
        #comments-container ul li .comment-avatar a img:hover {
          border-color: #d46b6d; }
    #comments-container ul li .comment-body {
      width: 258px;
      margin-left: 42px; }
      #comments-container ul li .comment-body a {
        font-size: 14px; }
      #comments-container ul li .comment-body .comment-content {
        margin-bottom: 3px;
        margin-top: 3px; }
      #comments-container ul li .comment-body .comment-meta {
        font-size: 11px;
        color: #999; }
        #comments-container ul li .comment-body .comment-meta a {
          font-size: 11px;
          color: #999;
          float: right; }
          #comments-container ul li .comment-body .comment-meta a:hover {
            color: #c84446; }
        #comments-container ul li .comment-body .comment-meta:hover {
          color: #283a43; }
        #comments-container ul li .comment-body .comment-meta span {
          float: right; }
      #comments-container ul li .comment-body textarea#newCommentContent {
        width: 258px;
        margin: 0;
        padding: 0.3em; }
      #comments-container ul li .comment-body a.editCommentBtn, #comments-container ul li .comment-body a.deleteCommentBtn {
        font-size: 11px;
        float: right;
        margin-top: 2px; }
  #comments-container #add-comment h4 {
    font-weight: 900;
    font-size: 13px;
    padding-top: 13px;
    cursor: pointer; }
  #comments-container #add-comment textarea {
    width: 258px;
    margin-left: 42px;
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 0; }
  #comments-container .unlogged {
    margin-left: 42px;
    margin-top: 13px; }
  #comments-container #add-comment-btn {
    margin-left: 42px;
    display: block;
    width: 258px;
    padding: 5px 0;
    margin-right: 10px;
    margin-top: 4px;
    width: 258px;
    margin-bottom: 10px; }

#infobox {
  width: 280px;
  background: #313435;
  /* for non-css3 browsers */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$from', endColorstr='$to');
  /* for IE */
  background: -webkit-gradient(linear, left top, left bottom, from(#313435), to(#222526));
  /* for webkit browsers */
  background: -moz-linear-gradient(top, #313435, #222526);
  /* for firefox 3.6+ */
  background: linear-gradient(top, #313435, #222526);
  opacity: 0.9;
  border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  box-shadow: 0px 1px 2px #000;
  border: 1px solid #313436;
  padding: 5px;
  position: absolute;
  text-align: center;
  left: 0;
  top: 0;
  color: #fff; }
  #infobox h3 {
    color: #c84446;
    font-size: 15px;
    padding-bottom: 10px; }
  #infobox p {
    color: white; }
    #infobox p span {
      font-weight: 800; }

#ajax-status {
  position: absolute;
  background: #222526;
  width: 100px;
  padding: 10px;
  display: none;
  left: 50%;
  margin: 15px -50px;
  border: 1px solid #283a43;
  text-align: center;
  font-size: 18px;
  line-height: 25px;
  padding: 7px;
  color: white;
  z-index: 2;
  top: 75px;
  font-size: 13px;
  background: #354d59;
  /* for non-css3 browsers */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$from', endColorstr='$to');
  /* for IE */
  background: -webkit-gradient(linear, left top, left bottom, from(#354d59), to(#283a43));
  /* for webkit browsers */
  background: -moz-linear-gradient(top, #354d59, #283a43);
  /* for firefox 3.6+ */
  background: linear-gradient(top, #354d59, #283a43);
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  opacity: 0.95; }

#backto_user {
  display: block;
  width: 57px;
  margin: auto; }
  #backto_user:hover {
    background: #354d59;
    /* for non-css3 browsers */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$from', endColorstr='$to');
    /* for IE */
    background: -webkit-gradient(linear, left top, left bottom, from(#354d59), to(#283a43));
    /* for webkit browsers */
    background: -moz-linear-gradient(top, #354d59, #283a43);
    /* for firefox 3.6+ */
    background: linear-gradient(top, #354d59, #283a43); }

#remove-route-btn {
  margin-left: 10px; }

#show_following_routes {
  display: block;
  width: 237px;
  margin: auto;
  margin-top: 20px; }
  #show_following_routes:hover {
    background: #354d59;
    /* for non-css3 browsers */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$from', endColorstr='$to');
    /* for IE */
    background: -webkit-gradient(linear, left top, left bottom, from(#354d59), to(#283a43));
    /* for webkit browsers */
    background: -moz-linear-gradient(top, #354d59, #283a43);
    /* for firefox 3.6+ */
    background: linear-gradient(top, #354d59, #283a43); }
