<div id="avatar_form">
	<%= form_for @user, :html => {:multipart => true} do |f| %>
		<%= f.label :uploaded_avatar, "Wskaż plik" %>
		<%= f.file_field :uploaded_avatar %>
		<%= f.submit "Zapisz" %>
	<% end %>
</div>