<h3>Tag: <%= @tag_name %></h4>
<%= link_to "Powrót", "#", :id => "last_routes_back" %>
<div id="user-last-routes" class="routes-list">
  <%= render 'routes/last_routes', :routes => @routes %>
</div> <!-- END last-routes -->
<%= link_to "Więcej", "/users/#{@user.id}/tags/#{@tag.id}", :class => "btn-base", :id => "last-routes-more" %>