<form id="search-title" action="#">
	<input type="text" id="search-text" class="input-text" placeholder="Szukaj po tytule">
	<input type="submit" id="search-btn" class="small-btn" value="Search">
</form>