<%= render 'shared/with_map' %>
	<%= render 'routes/last_routes' %>
	<%= link_to "Więcej", routes_path, :class => "btn-base", :id => "last-routes-more" %>
	</div> <!-- END aside-content -->
	</div> <!-- END aside -->
	<div id="map"></div>
</div> <!-- END with-map -->
