<br />
<br />
<br />
<br />
<br />
<br />

  <a class="fancybox" href="http://farm7.staticflickr.com/6041/6359017003_7732372f5d_b.jpg">
    <img src="http://farm7.staticflickr.com/6041/6359017003_7732372f5d_m.jpg" />
  </a>
  <a class="fancybox" href="http://farm7.staticflickr.com/6237/6353573625_0dd93e65f9_b.jpg">
    <img src="http://farm7.staticflickr.com/6237/6353573625_0dd93e65f9_m.jpg"/>
  </a>

<% @photo = Photo.find(24) %>
  <%= link_to (image_tag (url_for(:controller => :photos, :action => :photo_file, :id => @photo.id)), :size => "400x300", :alt => @photo.title), url_for(:controller => :photos, :action => :photo_file, :id => @photo.id), :class => "fancybox" %>