$red: #c84446;
$red-light: #db5e60;
$blue: #283a43;
$green: #66d490;
$grey: #caced0;
$table-border: 1px solid #caced0;

@import "lib/_reset";
@import "lib/_mixins";
@import "lib/_forms";
@import "lib/_jquery.fancybox";

.wrap {
	width: 960px;
	margin: 0 auto;
}
.clear {
	clear: both;
}
.center {
	text-align: center;
}
.uppercase {
	text-transform: uppercase;
}
.titlecase {
	text-transform: capitalize;
}
.invisible {
	visibility: hidden;
}

body {
	background: #fafafa;
	background: url(/images/bg.gif);
}

::-moz-selection { background: $red; color: #fff; text-shadow: none; }
::selection { background: $red; color: #fff; text-shadow: none; }
body,h1,h2,h3,h4,h5,h6,p,ul,ol,dl,input,textarea {
	line-height: 17px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: $blue;
	font-size: 13px;
}
h1,h2,h3,h4,h5 {
	color: $blue;
	font-weight: 900;
}
h1 {
	color: $red;
}
h2 {
	font-size: 25px;
}

header {
	border-top: 2px solid $red;
	border-bottom: 1px solid $blue;
	height: 60px;
	min-width: 750px;
	#logo {
		position: absolute;
		top: 10px;
		left: 30px;
		a.logo {
			background: url("../images/logo.png");
			width: 97px;
			height: 97px;
			display:block;
			text-indent: -9999px;
			&:hover {
				background: url("../images/logo.png") -97px;
			}
		}
	}
	nav ul#nav {
		float: left;
		margin-top: 20px;
		margin-left: 160px;
		margin-bottom: 0;
		li {
			float: left;
			margin-left: 5px;
			a {
				// @include transition();
				color: $blue;
				font-size: 15px;
				text-transform: uppercase;
				padding: 0.4em 0.6em;
				@include rounded(6px);
				border: 1px solid #eee;
				&:hover {
					text-decoration: none;
					// color: $red;
					@include gradient(lighten($blue, 7%), $blue);
					color: white;
				}
				&.selected {
					color: $red;
					// @include gradient(#e8eced, #DAE2E2);
					// @include gradient(#cf5759, #bb3f41);
					// background: $red;
					// color: white;
					// border: 1px solid darken($red, 3%);
					// box-shadow: 0 0 5px #888;
					// background: #DAE2E2;
					&:hover {
						color: white;
						@include gradient(#cf5759, #bb3f41);
					}


				}
			}
		}
	}
	#login-header {
		position: absolute;
		right: 30px;
		top: 2px;
		background: $red;
		padding-bottom: 4px;
		padding-left: 9px;
		padding-right: 9px;
		@include roundedSides(0, 0, 4px, 4px);
		a {
			
			color: #fff;
			// padding: 4px 9px;
			font-size: 13px;
			
			&:hover {
				text-decoration: underline;
			}
		}
		img {
			position: relative;
			top: 4px;
			// border: 1px solid #fff
		}
	}
}

form#search-place, form#search-user, form#search-route {
	input[type="text"] {
		float: left;
	}
	input[type="submit"] {
		background: url("../images/search-small-btn.png") no-repeat 0 1px;
		display: block;
		text-indent: -99999px;
		width: 29px;
		height: 29px;
		float: left;
		margin-left: 3px;
		margin-top: 1px;
		&:hover {
			background: url("../images/search-small-btn.png") no-repeat -30px;
		}
	}
}

#container {
	width: 100%;
	min-width: 750px;
	min-height: 300px;
}
#with-map {
	float: left;
	form#search-place {
		
		margin-bottom: 0px;
		margin-left: 30px;
		float: left;
	}
	h2.title-aside {
		background: $blue;
		color: #fff;
		font-size: 25px;
		padding-top: 0.3em;
		padding-bottom: 0.3em;
		padding-left: 30px;
		margin-right: 30px;
	}
}
#aside-content { margin-top: 60px; }

#aside {
	width: 370px;
	min-height: 830px;
	float: left;
	border-right: 1px solid $blue;
	.routes-list {
		li .route {
			&:hover {
				
				a, li {
					// color: white;
				}
				.route-img {
					border-color: lighten($red, 10%);
				}
				
			}
			padding-top: 20px;
			border-bottom: 1px solid #caced0;
			padding-left: 30px;
			
			height: 104px;
			.route-img {
				float: left;
				border: 3px solid #fff;
				height: 79px;
				width: 79px;
				margin-right: 7px;
				@include rounded(4px);
				cursor: pointer;
				&.selected {
					border-color: lighten($blue, 10%);
				
				}
			}
			
			.route-info {
				height: 85px;
				padding: 3px;
				// background: white;
				width: 310px;
				h4 {
					font-size: 12px;
					text-transform: uppercase;
					// font-weight: normal;
					font-weight: bold;
					a {
						color: $blue;
					}
				}
				ul {
					padding-top: 3px;
					.profile-image {
						width: 58px;
						height: 18px;
						float: right;
						// margin-right: 10px;
						&.green {
							background: url(../images/profiles.png);
						}
						&.yellow {
							background: url(../images/profiles.png) 0 -18px no-repeat;
						}
						&.orange {
							background: url(../images/profiles.png) 0 -36px no-repeat;
						}
						&.red {
							background: url(../images/profiles.png) 0 -54px no-repeat;
						}
					}
					 li {
							font-size: 12px;
							line-height: 20px;
						}
				}
				.num-icons {
					
					float: left;
					width: 200px;
					height: 17px;
					li {
						float: left;
						width: 70px;
						.comment-icon {
							background: url(../images/comment-icon.png)0 -14px no-repeat;
							width: 14px;
							height: 14px;
							display: block;
							float: left;
							margin-top: 2px;
							margin-right: 2px;
						}
						&:last-child {
							width: 30px;
						}
						.like-icon {
							background: url(../images/like-icon.png)0 -14px no-repeat;
							width: 14px;
							height: 14px;
							display: block;
							float: left;
							margin-top: 2px;
							margin-right: 2px;
						}
						.workout-icon {
							background: url(../images/workout-icon.png)0 -14px no-repeat;
							width: 14px;
							height: 14px;
							display: block;
							float: left;
							margin-top: 2px;
							margin-right: 2px;
						}
					}
					
				}
			}
		}
	}
	h4 { 
		font-size: 16px;
		font-weight: normal;
	}
	a#last-routes-more {
		margin: 12px auto;
		display: block;
		width: 46px;
		@include gradient(lighten($blue, 7%), $blue);

		&:hover {
			@include gradient(#cf5759, #bb3f41);
			// @include gradient(lighten($blue, 7%), $blue);
		}
	}
}
#map {
/*	width: 700px;*/
	height: 830px;
	float: left;
	margin: 0;
}

/*
	PAGES without map
*/

#without-map {
	margin-bottom: 50px;
	form#search-title {
		float: right;
		margin-right: 30px;
		margin-top: 10px;
	}
	h2 {
		text-align: center;
		padding-bottom: 10px;
		span {
			color: $red;
		}
	}
	.h2-bg {
		background: $blue;
		height: 35px;
		h2 {
			color: white;
			// margin: auto;
			// display: block;
			// width: 235px;
			text-align: center;
			line-height: 30px;
			a {
				color: white;
			}
		}
	}
}


#content {
	margin-bottom: 20px;
	min-height: 500px;
}
.btn-base {
	padding: 5px 17px;
	text-align:center;
	@include rounded(4px);
	@include gradient(#cf5759, $red);
	border: 0;
	color:#FFF;
	&:hover {
		background: $red;
		text-decoration: none;
	}
	&:active {
		background: #bb3133;
		// color: $blue;
	}
	&:focus {
		// background: #cf5759;
		@include gradient(#bb3f41, #cf5759);
		// border: 1px solid #cf5759;
		box-shadow: 0 0 5px #888;

	}
}

.btn-big {
	width: 210px;
}
.h2-top {
	// display: block;
	// width: 235px;
	text-transform: uppercase;
	// margin: auto;
	line-height: 26px;
	text-align: center;
}
#user-form {
	width: 560px;
	margin: auto;
	margin-top: 40px;
	label {
		float: left;
		text-align: right;
		margin-top: 7px;
		width: 185px;
		font-size: 14px;
	}
	input[type="text"], input[type="password"], select {
		width: 210px;
		margin-left: 195px;
		margin-bottom: 15px;
	}
	input[type="submit"] {
		margin-left: 195px;
		border: 1px solid #a14446;
		@include rounded(4px);
	}
	p {
		margin-left: 195px;
		width: 210px;
		text-align: center;
		margin-top: 20px;
		font-size: 14px;
		a {
			text-decoration: underline;
		}
	}
}


#user_edit {
	width: 760px;
	margin: auto;

	#user-form {
		float: left;
		width: 500px;
		border-right: $table-border;
	}
	#user-form-avatar {
		margin-top: 40px;
		margin-left: 10px;

		width: 230px;
		float: left;
		height: 200px;
		
		h3 {
			font-size: 15px;
			text-align: center;

		}
		.user-avatar {
			background: #f2f2f2;
			height: 100px;
			width: 100px;
			border: 3px solid #fff;
			margin-right: 10px;
			margin-top: 10px;
			float: left;
		}
		.avatar_actions {
			float: left;
    		margin-top: 44px;
    		with: 40px;
			a {
				display: block;
				margin-bottom: 10px;
				@include gradient(lighten($blue, 7%), $blue);
				&:hover {
					@include gradient(#cf5759, #bb3f41);
				}
			}
			#avatar_actions_delete {
				background: $grey;
				color: $blue;
				&:hover {
					@include gradient(#cf5759, #bb3f41);
					color: white;
				}
			}
		}
		#avatar_form {
			margin-top: 130px;
			display: none;
			form {
				input[type="submit"] {
					font-size: 13px;
					padding: 4px 10px;
					margin-top: 10px;

				}
			}
		}
		
	}
}
#user-form-password {
	margin: auto;
    padding: 21px;
    width: 370px;
    a {
    	display:block;

    }
}


#error_explanation, #error_explanation_route {
	margin-bottom: 20px;
	border: 1px solid $red;

	@include rounded(4px);
	padding-bottom: 15px;
	h3 {
		font-size: 1.4em;
		margin-bottom: 15px;
		text-align: center;
		border-bottom: 1px solid $red;
		padding: 15px;
		color: #fff;
		@include gradient(#cf5759, #bb3f41);
	}
	ul {
		margin-left: 20px;
		li {
			color: $red;
			font-size: 1.2em;
			margin-bottom: 5px;
		}
	}
}
.field_with_errors {
	input[type="text"], input[type="password"], textarea {
		border-color: $red;
	}
}
#error_explanation_route {
	position: absolute;
	z-index: 3;
	left: 389px;
	width: 500px;
	opacity: .9;
	background: white;
}

.flash {
	position: absolute;
	left: 50%;
	width: 400px;
	margin: 15px -200px;
	border: 1px solid #fff;
	text-align: center;
	font-size: 18px;
	line-height: 25px;
	padding: 7px;
	color: white;
	z-index: 2;
	// @include rounded(4px);
	opacity: 0.95;
}

.success {
	@include gradient(lighten($blue, 7%), $blue);
	border: 1px solid darken($blue, 8%);
	
}
.error, .notice {
	@include gradient(lighten($red, 7%), $red);
	// @include gradient(#cf5759, #bb3f41);
	border: 1px solid darken($red, 8%);
}


// USERS SHOW PAGE


h4.user_last_route, h4.user_numbers {
	margin-right: 30px;
	background: $blue;
	color: #fff;
	padding: 4px 30px;
}
h4.user_last_route {
	margin-bottom: 10px;
}
ul#last_routes_tabs {
	display: block;
	border-bottom: 1px solid $grey;
	margin-right: 30px;
	height: 27px;
	li {
		float: left;
		&:first-child {
			margin-left: 30px;
		}
		a {
			margin-right: 10px;
			color: $blue;
			font-size: 12px;
			padding: 4px 13px;
			@include rounded(4px);
			border: 1px solid #EEE;
			@include shadow( 0, 1px, 1px, #aaa);
			@include gradient(#f9f9f9, #eaeaea);
			&:hover {
				text-decoration: none;
				background: #EAEAEA;
			}
			&.selected {
				background: #DDD;
				border: 1px solid #EEE;
				border-top-color: #C5C5C5;
				border-left-color: #C5C5C5;
				@include shadow( 0, 1px, 1px, #fff);
				padding: 5px 14px;
				color: darken($blue, 10%);
			}
		}
	}
}

.user-profile {
	margin-left: 30px;
	width: 310px;
	margin-top: 20px;
	margin-bottom: 10px;
	float: left;
	width: 310px;
	.user-avatar {
		float: left;
		background: #f2f2f2;
		height: 100px;
		width: 100px;
		border: 3px solid #fff;
		margin-right: 10px;
	}
	.user-info {
		font-size: 13px;
		h4 { 
			color: $red;
			margin-bottom: 10px;
			font-size: 17px;
		}
		ul li.edit-user {
			margin-top: 5px;
		}
	}
	.user-actions {
		clear: both;
		// margin-top: 23px;
		form {
			width: 104px;
			float: left;
			#relationship_submit {
				display: block;
				margin: auto;
				margin-top: 8px;
				font-size: 13px;
				padding: 5px 17px;
				@include gradient(lighten($blue, 7%), $blue);
				&:hover {
					@include gradient(#cf5759, #bb3f41);
				}
				&.unfollow {
					@include gradient(#cf5759, #bb3f41);
					padding: 5px 12px;
					&:hover {
						background: $grey;
						color: $blue;
					}
				}
			}
		}
		#show_all_routes_btn {
			margin-top: 10px;
			margin-right: 10px;
			float: right;
		}
	}
	
}

table.user-numbers {
	margin-top: 20px;
	width: 205px;
	font-size: 13px;
	float: left;
	margin-left: 30px;
	border-right: 1px solid #caced0;
	td {
		font-size: 13px;
		padding-bottom: 2px;
	}
	tr {
		&:hover {
			background: #f2f2f2;
		}
	}
	margin-bottom: 20px;
}
.user-stats-btn {
	float: right;
	margin-top: 20px;
	margin-right: 30px;
}



/*
TABLE

*/
form#search-user, form#search-route {
	float: right;
	margin-right: 30px;
	margin-top: 10px;
}

table.big-table {
	thead {
		color: #fff;
		tr {
			height: 40px;
			th {
				vertical-align: middle;
				padding: 0 10px;
				border: $table-border;
				border-left: 0;
				min-width: 20px;
				background: $blue;
				@include gradient(lighten($blue, 7%), $blue);

				a {
					color: white;
					padding-right: 7px;
					padding-left: 8px;
				}
				.sort-desc {
					background: url(../images/sort-arrows.png) no-repeat right;
					padding-right: 13px;
					padding-left: 0px;

					background-position: 100% 0;
				}
				.sort-asc {
					background: url(../images/sort-arrows.png) no-repeat right;
					background-position: 100% -16px;
					padding-right: 13px;
					padding-left: 0px;
				}
			}
			th:first-child {
				border: 0;
				border-right: $table-border;
				background: none;
			}
		}
	}
	tbody {
		tr:nth-child(even) {
			td {
				background: #fff;
			}
		}
		tr:nth-child(odd) {
			td {
				background: #f8f8f8;
			}
		}
		tr:last-child {
			td {
				border-bottom: $table-border;
			}
		}
		tr {
			height: 40px;
			td {
				vertical-align: middle;
				padding: 0 10px;
				min-width: 20px;
				border-bottom: $table-border;
				img {
					vertical-align: middle;
				}
				&.title {
					min-width: 160px;
				}
				&.distance {
					min-width: 68px;
				}
				&.altitude {
					min-width: 58px;
				}
				&.time {
					min-width: 80px;
				}
				&.avg_speed {
					min-width: 66px;
				}
				&.created_at, &.user {
					min-width: 95px;
				}
				&.like, &.comments, &.workouts {
					text-align: center;
				}
				&.rating {
					min-width: 91px;
				}
				&.place {
					min-width: 160px;
				}
			}
			td:last-child {
				border-right: $table-border;
			}
			td:first-child {
				border: 0;
				border-right: $table-border;
				background: none;
				font-size: 38px;
				height: 40px;
				padding: 0;
				text-align: right;
				font-weight: bold;
				background: none;
				padding-right: 2px;
				@include roundedSides(20px, 0, 0, 20px);
			}
			td:nth-child(2) {
				color: $red;
			}
		}
		tr:hover {
			background: #cf5759;
		}
	}
	
}


.users-index-table {
	margin: 20px auto;
	width: 1075px;
	table.users-index {
		width: 100%;
		// margin-left: -132px;
	}
}


.routes-index-table {
	width: 1075px;
	margin: 20px auto;
	table.routes-index {
		width: 100%;
		// margin-left: -67px;
		.comments, .like {
			// width: 22px;
		}
		tr th.comments span, tr th.like span, tr th.workout span {
			width: 14px;
			height: 14px;
			
			display: block;
			margin: auto;
			margin-top: 5px;

		}
		tr th.comments span { background: url(../images/comment-icon.png) no-repeat; }
		tr th.like span { background: url(../images/like-icon.png) no-repeat; }
		tr th.workout span { background: url(../images/workout-icon.png) no-repeat; }
		tr {
			td {

			}
		}
		tr th.like, tr th.comments, tr th.workout {
			a {
				background: none;
			}
		}
		tr td.tags a {
					padding: 2px 8px 1px;
					margin: -1px;
					line-height: 20px;
					color: white;
					background: $red;
					&:hover {
						background: white;
						color: $red;
					}
				}
		
	}
	.pagination {
		margin: 20px auto;
	}
}



/*
PAGINATION

*/

#without-map .pagination {

	width: 300px;
	margin: auto;
	margin-top: 10px;
	* {
		width: 24px;
		height: 24px;
		display: block;
		float: left;
		border: 1px solid #c7c7c7;
		@include rounded(4px);
		margin-left: 3px;
		line-height: 24px;
		text-align: center;
		font-size: 11px;
		color: $blue;
	}
	.previous_page {
		width: 70px;
		@include gradient(#f9f9f9, #eaeaea);
	}
	.current {
		@include gradient(#cf5759, #bb3f41);
		border-color: #cf5759;
		color: #fff;
		&:hover {
			background: #cf5759;
		}
	}
	a {
		@include gradient(#f9f9f9, #eaeaea);
		&:hover {
			background: #f9f9f9;
		}
	}
	.next_page {
		width: 70px;
	}
}



	// FOOTER



footer {
	// @include gradient(#cf5759, #bb3f41);
	// @include gradient($red-light, $red);
	// background: $blue;
	width: 100%;
	border-top: 2px solid $blue;
		
	#footer-inner {
		// width: 960px;
		.footer-col {
			padding-top: 15px;
			padding-bottom: 30px;

			float: left;
			h3 {
				  border-bottom: 1px solid $red;
				  color: $red;
			    font-size: 18px;
			    font-weight: normal;
			    line-height: 24px;
			    margin-bottom: 10px;
			    text-align: center;
			    margin-left: 30px;
			}
		}
		#footer-about {
			width: 340px;
			padding-right: 30px;
			border-right: 1px solid $blue;
			p {
				line-height: 1.5em;
				margin-left: 30px;
			}
		}
		#footer-contact {
			
			height: 191px;

			h3 {
				margin-left: 30px;

			}
		}
		#contact-form {
			
			margin-left: 30px;
			width: 505px;
			// color: #fff;
			form {
				.footer-form-col1 {
					float: left;
					width: 200px;
					input[type="text"], textarea {
						width: 150px;
						margin-bottom: 10px;
					}
				}
				label {
					float: left;
					width: 37px;
					line-height: 33px;
					font-size: 13px;
					padding-right: 7px;
					text-align: right;

				}
				.footer-form-col2 {
					float: left;
					label {
						width: 80px;
						margin-left: -87px;
						margin-top: 75px;
					}
				 	textarea {
						width: 275px;
						margin-bottom: 10px;
						@include rounded(4px);
						padding: 7px;
						font-size: 14px;
						height: 120px;
					}
					input[type="submit"] {
						width: 275px;
						border: 1px solid lighten($blue, 7%);
						@include gradient(lighten($blue, 7%), $blue);
						&:hover {
							background: lighten($blue, 7%);
						}
						&:active {
							background: $blue;
						}
					}
				}			
				


			}

		}
	}
	#footer-bottom {
		
		
		
		width: 100%;
		
		clear: both;
		border-top: 1px solid $blue;
		span {
			height: 32px;
			padding-left: 30px;
			line-height: 32px;
			display: block;
			text-align: center;
		}

		nav ul#footer-nav {
			height: 32px;
			// padding-left: 30px;
			padding: 5px 0;
			background: $red;
			li {
				float: left;
				margin-right: 10px;
				&:first-child {
					margin-left: 30px;
				}
				a {
			    @include rounded(4px);
			    color: white;
			    font-size: 13px;
			    line-height: 32px;
			    padding: 7px 12px;
			    text-align: center;
			    text-transform: uppercase;
			    @include gradient(#cf5759, #bb3f41);
					border: 1px solid #cf5759;
					&:hover, &.selected {
						// background: white;
						background: darken($red, 5%);
			    	border: 1px solid darken($red, 8%);
						// color: $blue;
						text-decoration: none;
					}
				}
			}
		}
	}
}

























// ROUTE new 

#route-new {
	margin: 20px 30px;


	p.distance {
		.label {
			width: 90px;
			margin-right: 10px;
			float: left;
			text-align: right;
			padding-top: 2px;
		}
		.value, .km {
			color: $red;
			font-size: 21px;
		}
		margin-bottom: 10px;
		clear: both;
	}

}
#route-new-draw {
	margin-bottom: 20px;
	width: 210px;
	float: right;
	#draw-route-btn {
		margin-right: 5px;
	}
	.route-new-options {
		display: none;
		margin-top: 8px;
		background: white;
		padding: 7px;
		border-radius: 4px;
		border: 1px solid #D5D8D9;
	}
	#draw-controls {
		
		
		a {
			display: block;
		}
	}
	#upload-form {
		input[type="submit"] {
			font-size: 13px;
			padding: 4px 10px;
			margin-top: 6px;
		}
	}

}
#route-form {
	form#new_route {
		input, textarea, select {
			font-size: 12px;
			width: 210px;
			margin-bottom: 10px;
		}
		input[type="submit"] {
				margin-left: 100px;
		}
		label {
			float: left;
			width: 90px;
			text-align: right;
			padding-right: 10px;
			margin-top: 6px;
		}
		p.error-explanation {
			width: 210px;
			font-size: 11px;
			margin-top: -8px;
			padding-top: 0;
			margin-bottom: 5px;
			display: none;
			padding-left: 100px;
			color: $red;
			clear:both;
		}
		a#show-extra {
			display: block;
			border: 1px solid darken($blue, 5%);
			text-align: center;
			margin-bottom: 10px;
			padding: 4px;
			background: $blue;
			color: white;
			border-radius: 4px;
		}
		#route-new-extra {
			border-top: 1px solid $red;
			padding-top: 10px;


			label {
			}
			input {
				width: 64px;
				padding: 3px;
			}
			p {
				.label {
					width: 90px;
					margin-right: 10px;
					float: left;
					text-align: right;
					padding-top: 2px;
				}
				.value, .km {
					// color: $red;
					// font-size: 21px;
				}
				margin-bottom: 10px;
			}
			#route_time_string {
				float: left;
			}
			#total-time-show {
				float: left;
				padding-left: 16px;
				padding-top: 3px;
				width: 124px;
			}
		}
	}
}



// ROUTE show
#route-show {
	margin-left: 30px;
	width: 280px;
	// background: yellow;
	h3 {
		font-size: 17px;
		color: $red;
		font-weight: normal;
		line-height: 20px;
		margin-top: 10px;
	}
	

	ul.route-show {
		margin-top: 10px;
		li {		
			margin-bottom: 3px;
			border: $table-border;
			width: 280px;
			float: left;
			background: rgba(255,255,255,.4);
			font-size: 13px;
			line-height: 30px;
			.th {
				width: 150px;
				text-align: left;
				padding-left: 7px;
				float: left;
				font-weight: bold;
			}
			.td {
				width: 118px;
				float: left;
				img {
					position: relative;
    				top: 3px;
				}
			}
			.distance {
				font-size: 22px;
				color: $red;
			}
			&.description {
				// height: 110px;
				line-height: 17px;
				padding-top: 4px;
				padding-bottom: 4px;
				min-height: 30px;
				.th {
					width: 46px
				}
				.td {
					width: 220px;
					padding-right: 4px;
				}
			}
			&#altitude {
				cursor: pointer;
				.td {
					width: 86px;

				}
				.small-arrow {
					float: left;
					display: block;
					height: 13px;
					width: 13px;
					top: 9px;
					position: relative;
					background: url(../images/arrows.png) no-repeat;
				}
			}
			&.tags {
				line-height: 21px;
				display: block;
				padding: 5px;
				padding-left: 8px;
				width: 267px;
				a {
					padding: 2px 8px 1px;
					margin: 0px;
					color: white;
					background: $red;
					&:hover {
						background: white;
						color: $red;
					}
				}
			}
		}
		div.altitude-extra {
			display: none;
			li {
				&:last-child {
					margin-bottom: 21px;
					border-bottom: 1px solid $blue;
				}
			}
		}
	}
	
}
#edit-route-btn {
	margin-left: 30px;
}
.route-show-options {
	margin-left: 30px;
	margin-top: 10px;
}
// #show-comments {
// 	float: left;
// 	@include gradient(lighten($blue, 7%), $blue);
// 		&:hover {
// 			@include gradient(#cf5759, #bb3f41);
// 		}

// }
#add-favorite {
	// float: left;
	// margin-left: 20px;
	font-size: 12px;
	a {
		width: 28px;
		text-indent: -999px;
		display: block;
		float: left;
		height: 28px;
		background: url(../images/like-btn.png) no-repeat;
		padding: 0;
		cursor: pointer;
		&:hover {
			background: url(../images/like-btn.png) 0 -28px no-repeat;
			text-decoration: none;
		}
		&.liked {
			background: url(../images/like-btn.png) 0 -28px no-repeat;
			&:hover {
				background: url(../images/like-btn.png) no-repeat;
			}
		}
	}
	span {
		float: left;
		display: block;
		margin-left: 5px;
		margin-top: 6px;
	}
}
#add-photo {
	font-size: 12px;
	a {
		margin-left: 10px; 
		width: 28px;
		text-indent: -999px;
		display: block;
		float: left;
		height: 28px;
		background: url(../images/photo-btn.png) 0 -28px no-repeat;
		padding: 0;
		cursor: pointer;
		&:hover {
			background: url(../images/photo-btn.png) no-repeat;
			text-decoration: none;
		}
	}
	span {
		float: left;
		display: block;
		margin-left: 5px;
		margin-top: 6px;
	}
}

#show-elevation {
	float: right;
	display: block;
	height: 40px;
	width: 40px;
	margin-top: 5px;
	@include gradient(#cf5759, #bb3f41);

	// border: 1px solid #B03436;
	border-top-left-radius: 16px;
	border-bottom-left-radius: 16px;
	// &:hover {
	// 	width: 150px;
	// 	background: $red;
	// 		text-decoration: none;
	// }
	img {
		margin: 6px;
		margin-left: 8px;
	}

		&:active {
			background: #bb3133;
			// color: $blue;
		}
		&:focus {
			// background: #cf5759;
			@include gradient(#bb3f41, #cf5759);
			// border: 1px solid #cf5759;
			box-shadow: 0 0 5px #888;

		}
}

#elevation-chart {
	position: absolute;
	z-index: 2;
	left: 370px;
	top: 692px;
	border: 1px solid $blue;
	height: 200px;
	width: 800px;
	display: none;
	opacity: .8;
}


// ROUTE EDIT
form.edit_route {
	input[type="text"], select, textarea {
		width: 110px;
		padding: 1px;
		border-radius: 0;
		float: left;
		margin: 0;
		margin-top: 4px;;
		font-size: 13px;
		&.title {
			color: $red;
			font-size: 17px;
			width: 282px;
			margin-bottom: 5px;
			padding: 2px;
		}
	}
	textarea {
		width: 223px;
	}
	input[type="submit"].edit {
		float: right;
		font-size: 13px;
		@include gradient(lighten($blue, 7%), $blue);
		padding: 0.2em 0.7em;
		margin-top: 5px;
		&:hover {
			@include gradient(#cf5759, #bb3f41);
		}
	}
}

ul#rating {
	margin-top: 7px;
	li.rate {
		display: inline;
		width: 17px;
		height: 17px;
		border: 0;
		margin-left: 1px;
		a {
			width: 18px;
			height: 17px;
			display: block;
			background: url(../images/rating-stars.png) 0 -17px no-repeat; 
			text-indent: -9999px;
			outline: none;


			&.full-fill {
				background: url(../images/rating-stars.png) 0 -34px;
			}
			&.half-fill {
				background: url(../images/rating-stars.png) 0 -51px;
			}
			&.select {
				background-position: 0 0;
			}
		}
	}
}
td.rating ul.rating .val {
	display: none;
}
ul.rating {
	li {
		width: 18px;
		height: 17px;
		display: block;
		background: url(../images/rating-stars.png) 0 -17px no-repeat; 
		text-indent: -9999px;
		outline: none;
		float: left;
		&.full-fill {
			background: url(../images/rating-stars.png) 0 -34px;
		}
		&.half-fill {
			background: url(../images/rating-stars.png) 0 -51px;
		}
		&.select {
			background-position: 0 0;
		}
	}

}


#comments-container {
	width: 310px;
	// margin-top: 46px;
	margin-top: 10px;
	margin-left: 30px;
	margin-right: 30px;
	// background: #EBEBEB;
	display: none;
	h3 {
		width: 310px;
		border-bottom: 2px solid $blue;
	}
	ul {
		li {
			border-bottom: 1px solid $grey;
			padding-top: 10px;
			padding-bottom: 5px;
			.comment-avatar {
				float: left;
				width: 32px;
				height:32px;
				a img {
					border: 2px solid white;
					&:hover {
						border-color: lighten($red, 10%);
					}
				}
			}
			.comment-body {
				width: 258px;
				margin-left: 42px;
				a {
					font-size: 14px;
				}
				.comment-content {
					margin-bottom: 3px;
					margin-top: 3px;
				}
				.comment-meta {
					font-size: 11px;
					color: #999;
					a {
						font-size: 11px;
						color: #999;
						float: right;
						&:hover {
							color: $red;
						} 
					}
					&:hover {
						color: $blue;
					}
					span {
						float: right;
					}
				}
				textarea#newCommentContent {
					width: 258px;
					margin: 0;
					padding: 0.3em;
				}
				a.editCommentBtn {
					font-size: 11px;
					float: right;
					margin-top: 2px;
				}
				a.deleteCommentBtn {
					font-size: 11px;
					text-align: right;
					display: block;
				}
			}
		}
	}
	#add-comment {
		h4 {
			font-weight: 900;
			font-size: 13px;
			padding-top: 13px;
			cursor: pointer;
		}
		textarea {
			width: 258px;
			margin-left: 42px;
			padding: 5px;
			margin-top: 5px;
			margin-bottom: 0;
		}
	}
	#add-comment-btn {
		margin-left: 42px;
		display: block;
		width: 258px;
		padding: 5px 0;
		margin-right: 10px;
		margin-top: 4px;
		width: 258px;
		margin-bottom: 10px;
	}
}
.unlogged {

	margin-top: 13px;
}

#infobox_add_photo {
	background: url("../images/bg.gif");
	box-shadow: 0px 0px 4px #333;
	padding: 10px;
	width: 240px;
	h3 {
		color: $red;
		padding-left: 13px;
		text-align: center;
		font-size: 15px;
		padding-bottom: 5px;
		border-bottom: 1px solid $grey;
		margin-bottom: 7px;
	}
	#photo_form form {
		font-size: 13px;

		label {
			text-align: center;
			padding-bottom: 4px;
		}
		input, textarea {
			margin: 0;
			margin-bottom: 10px;
			padding: 4px;
			font-size: 13px;
			@include rounded(0);
			width: 240px;

		}

		#photo_submit {
			display: block;
			@include rounded(4px);
			margin: auto;
			font-size: 13px;
			padding: 5px;
			width: 107px;
			@include gradient(lighten($blue, 7%), $blue);
			&:hover {
				@include gradient(#cf5759, #bb3f41);
			}

		}
	}

}

#infobox_show_photo {
	background: url("../images/bg.gif");
	box-shadow: 0px 0px 4px #333;
	width: 666px;
	height: 380px;

	#photo_img {
		margin: 20px;
		float: left;
		width: 400px;
		height: 300px;
		background: $red;
		box-shadow: 0px 0px 4px #333;

		.slides_container {
			overflow:hidden;
			width: 400px;
			height: 300px;
			img {
				width: 400px;
				height: 300px;
				display: block
			}
		}
		.pagination {
			margin:16px auto 0;
			width:30px;
		}
		.pagination li {
			float:left;
			margin:0 1px;
			list-style:none;
		}
		.pagination li a {
			display:block;
			width:12px;
			height:0;
			padding-top:12px;
			background-image:url(../images/pagination.png);
			background-position:0 0;
			float:left;
			overflow:hidden;
		}
		.pagination li.current a {
			background-position:0 -12px;
		}

	}
	#photo_info {
		float: left;
		margin-top: -3px;
		width: 206px;
		h3 {
			font-size: 15px;
			margin-bottom: 15px;
		}
		p {
			margin-bottom: 10px;
		}
		.description {
			margin-bottom: 30px;
		}
		p span {
			font-weight: 900;
		}
	}
	.edit_photo_link {
		clear: both;
		margin-left: 20px;
		font-size: 12px;
	}
}

#infobox {
	width: 280px;
	// height: 50px;
	@include gradient(#313435, #222526);
	opacity: 0.9;
	@include rounded(6px);
	box-shadow: 0px 1px 2px #000;
	border: 1px solid #313436;
	padding: 5px;
	position: absolute;
	text-align: center;
	left: 0;
	top: 0;
	color: #fff;
	h3 {
		color: $red;
		font-size: 15px;
		padding-bottom: 10px;
	}
	p {
		color: white;
		span {
			font-weight: 800;
		}
	}
}

#ajax-status {
	position: absolute;
	background: #222526;
	width: 100px;
	padding: 10px;
	display: none;
	left: 50%;
	margin: 15px -50px;
	border: 1px solid $blue;
	text-align: center;
	font-size: 18px;
	line-height: 25px;
	padding: 7px;
	color: white;
	z-index: 2;
	top: 75px;
	font-size: 13px;
	@include gradient(lighten($blue, 7%), $blue);
	@include rounded(4px);
	opacity: 0.95;
}

#backto_user {
	display: block;
	width: 60px;
	margin: auto;
	
	&:hover {
		@include gradient(lighten($blue, 7%), $blue);
	}
}
#remove-route-btn {
	
	margin-left: 10px;
}

#show_following_routes {
	display: block;
	width: 237px;
	margin: auto;
	margin-top: 20px;
	&:hover {
		@include gradient(lighten($blue, 7%), $blue);
	}
}

#stats_container {
	width: 960px;
	margin: auto;
	margin-top: 20px;
}
#stats_actions {
	width: 240px;
	margin: auto;
	margin-bottom: 20px;
		a {
			margin-right: 10px;
			color: $blue;
			font-size: 12px;
			padding: 4px 13px;
			@include rounded(4px);
			border: 1px solid #EEE;
			@include shadow( 0, 1px, 1px, #aaa);
			@include gradient(#f9f9f9, #eaeaea);
			&:hover {
				text-decoration: none;
				background: #EAEAEA;
			}
			&.selected {
				background: #DDD;
				border: 1px solid #EEE;
				border-top-color: #C5C5C5;
				border-left-color: #C5C5C5;
				@include shadow( 0, 1px, 1px, #fff);
				padding: 5px 14px;
				color: darken($blue, 10%);
			}
		}

}

#charts_container {
	width: 840px;
	float: left;
	#routes_chart, #distance_chart, #climbup_chart {
		width: 840px;
		height: 400px;
		margin-bottom: 20px;
	}

}
#stats_previous_btn, #stats_next_btn {
	float: left;
	display: block;
	width: 60px;
	height: 60px;
	margin-top: 170px;
	margin-bottom: 170px;
	text-indent: -9999px;
}
#stats_previous_btn {
	background: url(../images/stats_btn.png) no-repeat 0 -60px;
	&:hover {
		background: url(../images/stats_btn.png) no-repeat 0 -120px;
	}
	&:active {
		background: url(../images/stats_btn.png) no-repeat 0 0;
	}
}
#stats_next_btn {
	background: url(../images/stats_btn.png) no-repeat 0 -180px;
	&:hover {
		background: url(../images/stats_btn.png) no-repeat 0 -240px;
	}
	&:active {
		background: url(../images/stats_btn.png) no-repeat 0 -300px;
	}
}

#route_actions {
	margin-top: 55px;
	padding-left: 30px;
	padding-top: 10px;
	padding-bottom: 10px;
	width: 310px;
	// background: $blue;
	border-bottom: 1px solid $grey;
	// border-top: 1px solid $grey;
	a {
		margin-right: 2px;
		color: $blue;
		font-size: 12px;
		padding: 4px 9px;
		@include rounded(4px);
		border: 1px solid #EEE;
		@include shadow( 0, 1px, 1px, #aaa);
		@include gradient(#f9f9f9, #eaeaea);
		&:hover {
			text-decoration: none;
			background: #EAEAEA;
		}
		&.selected {
			background: #DDD;
			border: 1px solid #EEE;
			border-top-color: #C5C5C5;
			border-left-color: #C5C5C5;
			@include shadow( 0, 1px, 1px, #fff);
			padding: 5px 9px;
			color: darken($blue, 10%);
		}
	}
}


#climbs-container {
	width: 310px;
	margin-left: 30px;
	margin-top: 10px;
	display: none;
	h4 {
		font-size: 13px;
		font-weight: 900;
		border-bottom: 2px solid $blue;
	}
	#climbs_table {
		// border: 1px solid $grey;
		width: 310px;
		margin-top: 10px;
		font-size: 13px;
		margin-bottom: 10px;
		thead {
			tr {
				th {
					background: $blue;
					@include gradient(lighten($blue, 7%), $blue);
					color: white;
					border: 1px solid $grey;
					padding: 3px 2px;
				}

			}
		}
		tbody {
			tr {
				padding-bottom: 5px;
				&:nth-child(even) {
					background: white;
				}
				&:nth-child(odd) {
					background: #f8f8f8;
				}


				td {
					// border: 1px solid $grey;
					padding: 3px 2px;
					&:first-child {
						border-left: 1px solid $grey;
					}
					&:last-child {
						border-right: 1px solid $grey;
					}
				}
			}
		}
	}
}
#workouts-container {
	width: 310px;
	margin-left: 30px;
	margin-top: 10px;
	display: none;
	h3 {
		width: 310px;
		border-bottom: 2px solid $blue;
	}
	ul#workouts-list {
		li.workout {
			border-bottom: 1px solid #CACED0;
			padding-top: 10px;
			padding-bottom: 13px;
			.workout-avatar {
				width: 32px;
				height: 32px;
				float: left;
				a {
					img {
						border: 2px solid white;
					}
				}
			}
			.workout-info {
				margin-left: 42px;
	    		width: 258px;
	    		h4 {
	    			a {
	    				font-size: 14px;
	    			}
	    			span {
	    				font-size: 11px;
	    				color: #999;
	    				float: right;
	    			}
	    		}
	    		ul li {
	    			font-size: 13px;
	    			margin-top: 1px;
	    			span {
	    				float: right;
	    				width: 120px;
	    			}
	    		}
	    		.workout-description {
	    			margin-top: 3px;
	    			span {
	    				font-weight: 900;
	    			}
	    		}
	    		.workout-meta {
	    			text-align: right;
	    			margin-bottom: -10px;
	    			clear: both;
	    			a.edit_workout {
	    				color: #999999;
				    	font-size: 11px;
	    			}
	    		}
			}
		}
	}
	#add_workout_btn {
		margin: 12px auto;
		display: block;
		width: 87px;
		@include gradient(lighten($blue, 7%), $blue);
		&:hover {
			@include gradient(#cf5759, #bb3f41);
		}
	}
	#add-workout {
		display: none;
		h4 {
			font-weight: 900;
			font-size: 13px;
			padding-top: 13px;
		}
		form {
			margin-top: 5px;
			padding-top: 5px;
			border-top: 1px solid $red;
			input, textarea, select {
				font-size: 12px;
				margin-bottom: 10px;
			}
			textarea {
				width: 185px;
			}
			input[type="submit"] {
					margin-left: 100px;
			}
			label {
				float: left;
				width: 90px;
				text-align: right;
				padding-right: 10px;
				margin-top: 6px;
			}
			p.error-explanation {
				width: 210px;
				font-size: 11px;
				margin-top: -8px;
				padding-top: 0;
				margin-bottom: 5px;
				display: none;
				padding-left: 100px;
				color: $red;
				clear:both;
			}
			input {
				width: 64px;
				padding: 3px;
			}
			#workout_time_string, #workout_max_speed {
				float: left;
			}
			#total-time-show {
				float: left;
				padding-left: 16px;
				padding-top: 3px;
				width: 124px;
			}
			#workout-avg-speed {
				float: left;
				padding-left: 16px;
				padding-top: 3px;
				width: 124px;
			}
		}
	}
	
}
.empty {
	width: 300px;
	margin: 20px auto;
	text-align: center;
}



//edit workout
#workout_edit_form {
	width: 258px;
	div {
		clear: both;
		padding-top: 3px;
	}
	input[type="text"], select, textarea {
		width: 60px;
		padding: 1px;
		border-radius: 0;
		margin: 0;
		font-size: 13px;
	}
	#workout_max_speed {
		float: left;
		margin-right: 64px;
	}
	#workout_time_string_edit {
		float: left;
	}
	#workout_edit_pulse {
		float: right;
	}
	textarea {
		width: 221px;
	}
	label {
		float: left;
		padding: 2px;
	}
	#workout_edit_avg_speed {
		padding: 2px;
		float: right;
	}
	input[type="submit"] {
		font-size: 12px;
		background: none;
		padding: 0;
		color: $red;
		float: right;
	}
}


#filters {
	width: 1075px;
	margin: auto;
	margin-top: 20px;
	height: 55px;
	.filter_div {
		float: left;
		width: 260px;
		// margin-left: 20px;
		h4 {
			width: 260px;
			text-align: center;
			margin-bottom: -7px;
		}
		.filter_label {
			color: #CACED0;
			font-size: 15px;
			padding-bottom: 2px;
			.max {
				margin-left: 213px;
			}
		}
	}
	#distance_range, #altitude_range {
		text-align: center;
		padding-top: 3px;
	}
	#distance_filter {
		margin-right: 30px;
		margin-left: 47px;

	}
	#altitude_filter {
		margin-left: 83px;
	}
	#road_filter {
		width: 175px;
		margin-left: 102px;
		padding-top: 23px;
		font-weight: 900;
		label {
			float: left;
			margin-right: 6px;
		}
		#route_road {
			
		}
	}
	#routes_filter_btn {
		margin-top: 18px;
		float: right;
		&:hover {
			@include gradient(lighten($blue, 7%), $blue);
		}
	}
	#routes_filter_reset {
		margin-top: 23px;
		float: right;
		margin-right: 10px;
		color: $blue;
	}

}


// SLIDER
.slider {
	height: 9px;
	border: 1px solid #caced0;
	background: #fff;
	position: relative;
	text-align: left;
	@include rounded(4px);
	width: 250px;
	.ui-slider-range {
		position: absolute;
		z-index: 1;
		font-size: .7em;
		display: block;
		border: 0;
		background-position: 0 0;
		top: 0;
		height: 100%;
		@include gradient(#CF5759, #BB3F41);
	}
	.ui-slider-handle {
		background: #f8f8f8;
		border: 1px solid #caced0;
		top: -3px;
		margin-left: -3px;
		position: absolute;
		z-index: 2;
		width: 14px;
		height: 14px;
		cursor: default;
		@include rounded(10px);
		outline: none;
	}
}



#contact_container {
	
	margin:auto;
	margin-top: 30px;
	width: 388px;

	#new_contact {
		label {
			float: left;
			text-align: right;
			margin-top: 7px;
			width: 80px;
			font-size: 14px;
		}
		input, textarea {
			width: 210px;
			margin-left: 89px;
			margin-bottom: 15px;
		}
	}
	// form {
	// 	width: 200px;
	// 	input[type="text"], textarea {
	// 		width: 150px;
	// 		margin-bottom: 10px;
	// 	}
	// 	label {
	// 		float: left;
	// 		width: 37px;
	// 		line-height: 33px;
	// 		font-size: 13px;
	// 		padding-right: 7px;
	// 		text-align: right;
	// 	}
	//  	textarea {
	// 		width: 275px;
	// 		margin-bottom: 10px;
	// 		@include rounded(4px);
	// 		padding: 7px;
	// 		font-size: 14px;
	// 		height: 120px;
	// 	}
	// 	input[type="submit"] {
	// 		width: 275px;
	// 		border: 1px solid lighten($blue, 7%);
	// 		@include gradient(lighten($blue, 7%), $blue);
	// 		&:hover {
	// 			background: lighten($blue, 7%);
	// 		}
	// 		&:active {
	// 			background: $blue;
	// 		}
	// 	}			
	// }
}
#compare_container {
	margin-left: 30px;
	margin-top: 20px;
	width: 310px;

}
#compare_routes {
	label {
		text-align: center;
	}
	#first, #second {
		width: 150px;
		padding: 4px;
		margin-top: 6px;
	}
	.first_route {
		width: 150px;
		float: left;
	}
	.second_route {
		width: 150px;
		float: right;
	}
	#compare_btn {
		margin-bottom: 23px;
		font-size: 13px;
		width: 84px;
		margin: auto;
		display: block;
		@include gradient(lighten($blue, 7%), $blue);
		&:hover {
			@include gradient(#cf5759, #bb3f41);
		}
	}
}


#compare_table {
	display: none;
	text-align: center;
	// border: 1px solid $grey;
	width: 310px;
	margin-top: 10px;
	font-size: 13px;
	margin-bottom: 10px;
	thead {
		tr {
			th {
				width: 154px;
				background: $blue;
				@include gradient(lighten($blue, 7%), $blue);
				color: white;
				border: 1px solid $grey;
				padding: 3px 2px;
				&:first-child {
					@include gradient(lighten($red, 7%), $red);
				}	
			}

		}
	}
	tbody {
		tr {
			padding-bottom: 5px;
			&:nth-child(even) {
				background: white;
			}
			&:nth-child(odd) {
				background: #f8f8f8;
				text-align: center;
				font-weight: 900;
				border-top: 1px solid $blue;
			}

			td {
				// border: 1px solid $grey;
				padding: 3px 2px;
				&:first-child {

					border-left: 1px solid $grey;
					border-right: 1px solid $grey;
				}
				&:last-child {
					border-right: 1px solid $grey;
				}
			}
		}
	}
}

#last_routes_menu {
	padding-bottom: 10px;
	ul {
		li:first-child a {
				border-top: 1px solid $grey;
			}
		li {
			a {
				border-bottom: 1px solid $grey;
				display: block;
				padding: 14px;
				font-size: 14px;
				text-transform: uppercase;
				color: $blue;
				padding-left: 30px;
				line-height: 22px;
				height: 22px;
				&:hover {
					text-decoration: none;
					background: white;
				}
				.last_routes_ico {
					background: url(/images/last_routes_ico.png) no-repeat;
					height: 22px;
					width: 31px;
					display: block;
					float: right;
					margin-right: 30px;
				}
				span:first-child {
					float: left;
				}

			}
		}

	}
}
#last_routes_back {
	border-bottom: 1px solid $grey;
	display: block;
	padding-bottom: 10px;
	padding-top: 10px;
	font-size: 13px;
	color: #2B3A43;
	line-height: 22px;
	text-align: center;
	&:hover {
		text-decoration: none;
		background: white;
	}
}
#last_route_container {
	display: none;
	h3 {
		  border-bottom: 1px solid $red;
		  color: $red;
	    font-size: 15px;
	    font-weight: normal;
	    line-height: 24px;
	    text-align: center;
	}
}

#users_all_tags {
	background: url(/images/bg.gif);
	position: absolute;
	z-index: 1;
	top: 630px;
	left: 371px;
	min-width: 150px;
	border: 1px solid $grey;
	ul {
		li {
			a {
				border-bottom: 1px solid $grey;
				display: block;
				padding: 10px;
				font-size: 12px;
				color: $blue;
				&:hover {
					text-decoration: none;
					background: white;
				}
				span.tag_name {
					padding: 2px 8px 1px;
					margin: 0px;
					color: white;
					background: $red;
				}

			}
		}
		li:last-child a {
			border: none;
		}
	}
}



