<ul id="rating">
	<li class="rate"><a href="#" class="1">1</a></li>
	<li class="rate"><a href="#" class="2">2</a></li>
	<li class="rate"><a href="#" class="3">3</a></li>
	<li class="rate"><a href="#" class="4">4</a></li>
	<li class="rate"><a href="#" class="5">5</a></li>
</ul>
<%= hidden_field_tag 'route_rating_value', @route.avg_rating %>
<%= hidden_field_tag 'route_id', @route.id %>
<% if current_user %>
	<%= hidden_field_tag 'user_rating_value', @rating.value %>
	<%= hidden_field_tag 'user_rating_like', @rating.like %>
	
<% end %>