<div id="with-map">
	<div id="aside">
		<div id="aside-content">
		<%= render 'shared/search_title' %>
		<h2 class="title-aside clear"><%= @title_header %></h2>
	
	<div id="route-show">
		<%= render 'route_edit' %>
	</div><!-- /route-show -->
	<div class="clear"></div>


	</div><!-- aside-content -->
	</div><!-- aside -->
	<div id="map"></div>

</div>