<footer>
	<div id="footer-inner">

		<div id="footer-about" class="footer-col">
			<h3>o 76rowerów</h3>
			<p>Serwis umożliwia zarządzanie trasami rowerowymi, możesz przeglądać trasy, które znajdują się aktualnie w serwisie, dodawać nowe. Dodatkowo gdy założysz konto masz dostęp do statystyk, możesz dodawać trasy jako ulubione, komentować trasy innych a nawet dodać innych użytkowników do obserwowanych dzięki czemu będziesz wiedział o wszystkich dodanych przez nich trasach.</p>
		</div>
 		<div id="footer-top-distance" class="footer-col">
			<h3>Najwięcej kilometrów</h3>
				<% top_users.each do |user| %>
					<p><%= link_to "#{user.username} (#{user.total_distance} km)", user_path(user.id) %></p>
				<% end %>
		</div> 
 		<div id="footer-top-routes"  class="footer-col">
			<h3>Najwięcej dodanych tras</h3>
				<% top_users_routes.each do |user| %>
					<p><%= link_to "#{user.username} (#{user.total_routes})", user_path(user.id) %></p>
				<% end %>
		</div> 
	</div><!-- /footer-inner -->
	<div id="footer-bottom">
		<nav>
		<ul id="footer-nav">
			<%= render 'layouts/navigation' %>
		</ul>
		</nav>
		<span>Copyright © 2011 76rowerow.pl</span>
	</div><!-- /footer-bottom 	-->
</footer>